<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head >

<title>{{title|default:''}} | POS JoinPOS OES SelfOrder</title>
<meta name="keywords" content="{{title|default:''}},POS JoinPOS OES SelfOrder">
<meta name="description" content="{{control|default:''}} {{title|default:''}} POS JoinPOS OES SelfOrder">

<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="format-detection" content="telephone=no" /> <!-- safari 百万単位数字の電話番号認識問題-->

<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish.js"></script>
<script type="text/javascript" src="/static/js/event.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/commonCheck.js"></script>
<script type="text/javascript" src="/static/js/jquery.ui.ympicker.js"></script>
<script type="text/javascript" src="/static/js/string.js"></script>

<link type="text/css" media="screen" rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.23.custom.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/superfish.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/object.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/button.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/class.css">

{% block head_javascript %}
{% endblock %}
</head>

<body>

<div id="top">
	<div id="logoImage"><a href="/"><img src="/static/image/joinposlog.png" alt="" height=40/></a></div>
	<div id="location" >
	{% if control%}
		{{control}}&nbsp;&gt;&nbsp;
	{% endif %}
	{{title}}</div>
	<div id="username">{{loginData.shop_user.email_id}}</div>
</div>




<div id="mainMenu">

	<div id="container">
		<ul class="sf-menu">
			<li class="current">
				<a href="/">{{'home'|tr:lang}}</a>
			</li>
			<li>
				<a href="/report/list_day">日別履歴</a>
				<ul>
					<li><a href="/report/list_day">日別一覧</a></li>
					<li><a href="/report/list_month">月別一覧</a></li>
				</ul>
			</li>

			<li>
				<a href="#">POINT管理</a>
				<ul>
					<li><a href="/master/list">POINT一覧</a></li>
					<li><a href="/master/deviceall">POINT編集</a></li>
				</ul>
			</li>

			<li>
				<a href="#">{{'setup'|tr:lang}}</a>
				<ul>
					<li><a href="/setup/shopedit">{{'shopedit'|tr:lang}}</a></li>

		{% if loginData.shop_user.email_id == "berutio" %}
					<li><a href="/setup/shoplist">Shop List (Admin)</a></li>
		{% endif %}
				</ul>
			</li>

			<li style="float:right;">
				<a href="{{ loginData.url }}">Logout</a>
			</li>
		</ul>
	</div>
</div><!-- "mainMenu" -->



<form id="searchform" method="get">
<div id="search_cond">

{% if sel_period >= 0 %}
<table style="width:100%;height:40px;">
<tr>
	<td>
	  {% if loginData.shop_user.role_flag > 1 and shops|length > 1 %}
		SHOP :
		<select name="sel_shop_id" id="sel_shop_id" onchange="submit(this.form)">
			{% for meisai in shops %}
			    <option value="{{meisai.shop_id}}" {% if shop_id == meisai.shop_id %} selected {% endif %}>{{meisai.kname}}</option>
			{% endfor %}
	    </select>
	  {% else%}
	  	{{loginData.shop_info.kname}}
	  {% endif%}
		<input type="hidden" name="shop_id"  value="{{shop_id}}"/>
		<input type="hidden" name="point_id" value="{{point_id}}"/>
	</td>
	<td align="left">
	  {% if sel_period == 1 or sel_period == 2 %}
		FROM:<input type="text" name="startDate" id="startDate" size="10"  readonly="readonly" />
		～
		TO:  <input type="text" name="endDate"   id="endDate"   size="10"  readonly="readonly" />
	  {% endif %}

	  {% if sel_period == 3 or sel_period == 4 %}
		{{'target'|tr:lang}} :&nbsp;<input type="text" name="startDate" id="startDate" size="10"  readonly="readonly"  onchange="submit(this.form)"/>
	  {% endif %}

	  {% if sel_period == 5 %}
		{{'target_year'|tr:lang}} :&nbsp;
		<select  name="startDate"  onchange="submit(this.form)">
		  {% for year in year_list %}
			<option value="{{year}}"  {% if start_date == year %}selected{% endif %}>{{year}}</option>
		  {% endfor %}
		</select>
	  {% endif %}

	  {% if seqno %}
		Receipt No: <input type="text" name="receipt_no" id="receipt_no" size="10" maxlength="10" value="{{seqno}}" onchange="submit(this.form)"/>
	  {% endif %}

	</td>
  {% if csvdownload == 1 %}
	<td align="right">
		<input type="hidden" name="csv" id="csv" value=""/>
		<input type="button" id="csvdownload" class="btn_small_unuse" value="{{'btn_csv'|tr:lang}}" disabled />
	</td>
  {% endif%}
  {% if csvdownload == 2 %}
	<td align="right">
		<input type="hidden" name="csv" id="csv" value=""/>
		<input type="button" id="csvdownload" class="btn_blue_small" value="{{'btn_csv'|tr:lang}}" />
	</td>
  {% endif%}
  {% if  sel_period == 1 or sel_period == 2 %}
	<td align="right"><input type="submit" class="btn_yellow_small" value="{{'btn_search'|tr:lang}}"></td>
  {% endif%}
  {% if sel_period > 0 %}
	<td width="50"><input type="button" class="btn_yellow_small" value="{{'btn_print'|tr:lang}}" onclick="printSection();"></td>
  {% endif %}
 </tr>
</table>

{% else %}

<table width=100% height=40px>
	<tr><td>{{company_name}}</td></tr>
</table>

{% endif %}

</div><!-- "search_cond" -->
</form>



<div class="modal"></div>


<div id="contents" align="left">
	{% block contents %}
	{% endblock %}

	{% block pagination %}
	{% endblock %}
</div>

<script type="text/javascript">

$("#csvdownload").click(function(){
	$("#csv").val("1");
	$('#searchform').submit();
	$("#csv").val("");
});



$(function(){
    $('ul.sf-menu').superfish();

	$body = $("body");
	$(document).on({
	    ajaxStart: function() { $body.addClass("loading");    },
	     ajaxStop: function() { $body.removeClass("loading"); }
	});
});

{%if sel_period == 2 or sel_period == 4 %}
	//'sel_period':0,  #1：FromTo(Day)　2：FromTo(Month), 3：Day 4:Month, 5:year, 0:NoCalendar, -9:NoConditionBar
	$(function() {
    	var date_format='yy/mm'

	    $('#startDate').ympicker({
		    minDate: '{%if mindate %}{{mindate}}{%else%}-5Y{%endif%}',
		    maxDate: 0,
	        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
	        dateFormat: date_format,
	        yearSuffix: ''
	    });
		{% if start_date %}
			startDate = new Date( {{start_date|slice:'0:4'}}, {{start_date|slice:'4:6'}}-1, '01');
		{%else%}
		    startDate = new Date();
		{% endif %}
	    $('#startDate').ympicker('setDate', startDate);
	});
{%endif%}
{%if sel_period == 2 %}
	$(function() {
    	var date_format='yy/mm'
	    $('#endDate').ympicker({
		    minDate: '{%if mindate %}{{mindate}}{%else%}-5Y{%endif%}',
		    maxDate: 0,
	        monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
	        dateFormat: date_format,
	        yearSuffix: ''
	    });
		{% if end_date %}
			endDate = new Date( {{end_date|slice:'0:4'}}, {{end_date|slice:'4:6'}}-1, '01');
		{%else%}
		    endDate = new Date();
		{% endif %}
	    $('#endDate').ympicker('setDate', endDate);
	});
{%endif%}

{%if sel_period == 1 or sel_period == 3 %}
    $(function() {
    	var date_format='yy/mm/dd'
        $('#startDate').datepicker({
            dateFormat: date_format,
	        changeMonth: true,
    	    changeYear: true,
    	    minDate: '{%if mindate %}{{mindate}}{%else%}-3M{%endif%}',
    	    maxDate: 0,
            showOn: 'button',
            monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        });
		{% if start_date %}
			startDate = new Date( {{start_date|slice:'0:4'}}, {{start_date|slice:'4:6'}}-1, {{start_date|slice:'6:8'|default:'01'}});
		{%else%}
	        startDate = new Date();
		{% endif %}
        $('#startDate').datepicker('setDate', startDate);
    });
{%endif%}
{%if sel_period == 1 %}
    $(function() {
    	var date_format='yy/mm/dd'
        $('#endDate').datepicker({
            dateFormat: date_format,
	        changeMonth: true,
    	    changeYear: true,
    	    minDate: '{%if mindate %}{{mindate}}{%else%}-3M{%endif%}',
    	    maxDate: 0,
            showOn: 'button',
            monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
        });
		{% if end_date %}
			endDate = new Date( {{end_date|slice:'0:4'}}, {{end_date|slice:'4:6'}}-1, {{end_date|slice:'6:8'|default:'01'}});
		{%else%}
		    endDate = new Date();
		{% endif %}

        $('#endDate').datepicker('setDate', endDate);
    });
{%endif%}


{% if sel_period == 1 or sel_period == 2 %}
    $(function() {
	    $('#endDate').ympicker('setDate', endDate);
	    $('#startDate').change(function() {
		     $('#endDate').val($('#startDate').val());
		});
	    $('#endDate').change(function() {
	        if ($("#startDate").val() > $("#endDate").val()) {
	            alert("Error!");
			    $('#endDate').val($('#startDate').val());
	        }
		});
    });
{% endif %}


    $('#sel_group_id').change(function() {
        if ($("#sel_group_id").val() > 0 ) {
		    $('#sel_shop_id').prop("disabled", true);
        } else {
		    $('#sel_shop_id').prop("disabled", false);
        }
	});

{% if group_no > 0 %}
    $('#sel_shop_id').prop("disabled", true);
{% endif %}


</script>


{% block body_javascript %}
{% endblock %}
</body>
</html>
