{% extends "base.html" %}

{% block contents %}
<div id="contents">

<style type="text/css">
td, th {
padding: 5px 10px;
}
</style>

<table>
<tr>
	<td class="listtd1" width="160">区分</td>
	<td class="listtd1" width="300">文書名</td>
	<td class="listtd1" width="340">備考</td>
</tr>
<tr>
	<td class="listtd3" align="center">ネットワーク設定</td>
	<td class="listtd5">
 		<a href="https://drive.google.com/open?id=1BECh8ELYXORRLhO1AYVXsRwDrF9ucsB-" target="_blank">1-1. POSレジの固定IP設定</a><br>
 		<a href="https://drive.google.com/open?id=1ChZ0rwlJCOg02eMReaCD-THENsBpePxm" target="_blank">1-2. ハンディーのネットワークエラー対応</a><br>
	</td>
	<td class="listtd5"></td>
</tr>
<tr>
	<td class="listtd3" align="center">機器操作説明</td>
	<td class="listtd5">
  		<a href="https://drive.google.com/open?id=1vZ074k-D_Xap2MOYDu1EREyH7o3TC6Ua" target="_blank">2-1. ＰＯＳレジ　売上登録</a><br>
  		<a href="https://drive.google.com/open?id=1DrdcNWFyM2WBoWpV2oep1NW0ye771PuR" target="_blank">2-2. ＰＯＳレジ　設定</a><br>
  		<a href="{{manual_url}}/OesManualDigest.pdf" target="_blank">2-3. ハンディー　（要約）</a><br>
  		<a href="{{manual_url}}/SelfOrderManual.pdf" target="_blank">2-4. セルフオーダー</a><br>
  		<a href="{{manual_url}}/CustomerDisplayManual.pdf" target="_blank">2-5. カスタマディスプレイ</a><br>
  		<a href="https://drive.google.com/open?id=1i8xor4eRfmjSAj56OrOhIDbaMqRbjE_O" target="_blank">2-6. NFC勤怠管理</a><br>
  		<a href="https://drive.google.com/open?id=0B9jiyXR27IoTc1NNbmFTaktLZDA" target="_blank">2-7. 伝票：レシート関連</a><br>
  		<a href="https://drive.google.com/open?id=0B9jiyXR27IoTend4NHJRbHgxdTA" target="_blank">2-8. 伝票：ホール・チケット</a><br>
	</td>
	<td class="listtd5">
	</td>
</tr>
<tr>
	<td class="listtd3" align="center">ASP操作説明</td>
	<td class="listtd5">
  		<a href="https://drive.google.com/open?id=1oz8cU5TeDi89zA-3EV5izyVZA3RybiuP" target="_blank">3-1. 店舗情報</a><br><!-- AspShopSetup.pdf -->
  		<a href="https://drive.google.com/open?id=1gA1VheMNCgCRqHIAoxqDLZa-C73QeK7C" target="_blank">3-2. マスターデータ管理</a><br><!-- AspMaster.pdf -->
  		<a href="https://drive.google.com/open?id=1l_98fosKUe6OAbATdq7VVL4ulVfhJMCj" target="_blank">3-3. レポート</a><br><!-- AspReport.pdf -->
  		<a href="https://drive.google.com/open?id=0B9jiyXR27IoTdUZpN2MzM1F1SjA" target="_blank">3-4. 小口現金管理</a><br><!-- AspSmallMoney.pdf -->
  		<a href="https://drive.google.com/open?id=0B9jiyXR27IoTckEwandFR2lMeTQ" target="_blank">3-5. 勤怠管理</a><br><!-- AspKintai.pdf -->
  		<a href="https://drive.google.com/open?id=0B9jiyXR27IoTLTNsaDdFbjNyQ0U" target="_blank">3-6. 顧客・予約管理</a><br>
  		<a href="https://drive.google.com/open?id=1z9PfffaFX9KaYYslxnlPdRFRKE41vPu9" target="_blank">3-7. 顧客管理</a><br>
	</td>
	<td class="listtd5">
	</td>
</tr>
<tr>
	<td class="listtd3" align="center">FAQ</td>
	<td class="listtd5">
  		<a href="{{manual_url}}/setup-nomihodai.pdf" target="_blank">4-1. 飲み放題の設定手順</a><br>
  		<a href="{{manual_url}}/setup_course.pdf" target="_blank">4-2. コースメニュー設定手順</a><br>
  		<a href="{{manual_url}}/zaikotouroku.pdf" target="_blank">4-3. 在庫登録手順</a><br>
  		<a href="{{manual_url}}/keigenzei.pdf" target="_blank">4-4. 軽減税率対応内容</a><br>
	</td>
	<td class="listtd5"></td>
</tr>
<tr>
	<td class="listtd3"  align="center">アプリの設置<br/>バージョンアップ</td>
	<td class="listtd5">
  		<a href="{{manual_url}}/JoinPosVerUp.pdf" target="_blank">5-1. ＰＯＳレジ バージョンアップ</a><br>
  	</td>
	<td class="listtd5"></td>
</tr>
</table>
<br><br>
<table>
<tr>
	<td class="listtd1" width="160">区分</td>
	<td class="listtd1" width="300">商品名</td>
	<td class="listtd1" width="340">備考</td>
</tr>
<tr>
	<td class="listtd3"  align="center">周辺機器のお勧め</td>
	<td class="listtd5">
  		<a href="http://www.amazon.co.jp/BUSICOM-%E6%84%9F%E7%86%B1%E3%83%AD%E3%83%BC%E3%83%AB%E3%83%9A%E3%83%BC%E3%83%91%E3%83%BC-%E3%82%B5%E3%83%BC%E3%83%9E%E3%83%AB%E3%83%AD%E3%83%BC%E3%83%AB%E7%B4%99-80mm%E5%B9%8580%CF%86%E5%86%85%E5%BE%8412mm20%E5%B7%BB-ST808012HG-20N/dp/B002APARO2/ref=pd_sim_229_4?ie=UTF8&dpID=41KbQl3H4OL&dpSrc=sims&preST=_AC_UL160_SR160%2C160_&refRID=1BJ2MP57AT471F8RWM7D" target="_blank">
  		6-1. 感熱紙（プリンターの紙）（amazon商店）
  		</a><br><br>
  		<a href="https://www.amazon.co.jp/%E3%80%90%E4%BA%92%E6%8F%9B%E3%83%A9%E3%83%99%E3%83%ABLabo%E3%80%91-DK-2205-10%E3%83%AD%E3%83%BC%E3%83%AB%E3%82%BB%E3%83%83%E3%83%88-QL-720NW-QL-650TD/dp/B01MTG5T10/ref=pd_nav_b2b_ab_bia_i_1?_encoding=UTF8&psc=1&refRID=X9QXEEGVR94WPF373CQ7" target="_blank">
  		6-2. ラベル紙（ラベルプリンターの紙）（amazon商店）
  		</a><br>
  	</td>
	<td class="listtd5"></td>
</tr>
<tr>
	<td class="listtd3"  align="center"></td>
	<td class="listtd5"></td>
	<td class="listtd5"></td>
</tr>
</table>



</div><!-- content -->



{% endblock %}
