{% extends "base.html" %}

{% block contents %}
<div id="mask"></div>
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}" class="ajax_datas">
<input type="hidden" name="target_name" id="target_name" value="section" class="ajax_datas">
<input type="hidden" name="mode"        id="mode"        value=""        class="ajax_datas">
<input type="hidden" name="content_id"  id="content_id"  value=""        class="ajax_datas">

<div class="buttons">
{% if loginData.shop_user.disabl_edit %}
	<input type="button" class="btn_small_unuse" value="{{'btn_new'|tr:lang}}" disabled>
	<input type="button" class="btn_small_unuse" value="{{'btn_update'|tr:lang}}" disabled>
{% else %}
	<input type="button" class="btn_orange_small" value="{{'btn_new'|tr:lang}}" id="insertNew">
	<input type="button" class="btn_orange_small" value="{{'btn_update'|tr:lang}}" id="updateContent">
	<input type="button" class="btn_red_small"    value="{{'btn_delete'|tr:lang}}" id="deleteContent">
<!--
	　　　　　
	<input type="button" class="btn_orange_small" style="width:150px;" value="全部門の削除商品除去" id="deleteProductClear" onclick="location.href='/master/section?deleteProductClear=1'"
	 title="削除され赤く表示された商品を完全に削除させます。
但し、後ろから辿って行き、削除されなかった商品が出るまでが削除されます。">
-->
{% endif %}
</div>
<div id="insert_ajax_div">
	<div id="insert_title">{{title}} {{'btn_new'|tr:lang}} / {{'btn_update'|tr:lang}}</div>

	<div style="clear:both;">
		<div class="insert_column">{{'section'|tr:lang}}{{'name'|tr:lang}}</div>
		<div class="insert_text"><input type="text" class="input_text_m ajax_datas inputarea" name="section_name" id="section_name"></div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">{{'category'|tr:lang}}</div>
		<div class="insert_text">
			<select name="food_drink" id="food_drink" class="ajax_datas inputarea">
				<option value="1">{{'drink'|tr:lang}}</option>
				<option value="2">{{'food'|tr:lang}}</option>
			</select>{{'cmt_category'|tr:lang}}
		</div>
	</div>
  {%if shop.it_setup.6 %}<!-- SELF ORDER -->
	<div style="clear:both;">
		<div class="insert_column">Image Select</div>
		<div class="insert_text">
			<select name="image_no" id="image_no" class="ajax_datas inputarea">
				<option value="0">---</option>
				<option value="1">0-01</option>
				<option value="2">0-02</option>
				<option value="3">0-03</option>
				<option value="4">0-04</option>
				<option value="5">0-05</option>
				<option value="6">0-06</option>
				<option value="7">0-07</option>
				<option value="8">0-08</option>
				<option value="9">0-09</option>
				<option value="10">0-10</option>
				<option value="11">1-01</option>
				<option value="12">1-02</option>
				<option value="13">1-03</option>
				<option value="14">1-04</option>
				<option value="15">1-05</option>
				<option value="16">1-06</option>
				<option value="17">1-07</option>
				<option value="18">1-08</option>
				<option value="19">1-09</option>
				<option value="20">1-10</option>
			</select>
		</div>
	</div>
  {%else%}
	<input type="hidden" name="image_no"  id="image_no"  value="0"  class="ajax_datas">
  {%endif%}

  {%if shop_cnt > 1 %}
	<div style="clear:both;">
		<div class="insert_column">共通区分</div>
		<div class="insert_text">
			<select name="common_sect" id="common_sect" class="ajax_datas inputarea">
				<option value="0">-----</option>
				<option value="1">全店共通商品</option>
			</select>
		</div>
※全店共通に設定すると、この部門に属する<br>商品の編集内容が全店舗に反映される。
	</div>
  {%else%}
	<input type="hidden" name="common_sect"  id="common_sect"  value="0"  class="ajax_datas">
  {%endif%}
	<div style="clear:both;">
		<div class="insert_column">軽減税対象</div>
		<div class="insert_text">
			<select name="multi_tax" id="multi_tax" class="ajax_datas inputarea">
				<option value="0">該当しない</option>
				<option value="5">軽減税対象</option>
			</select>
		</div>
	</div>

	<div id="insert_buttons">
		<div class="insert_button"><input type="button" value="{{'btn_ok'|tr:lang}}"    class="btn_blue_small" id="ajax_submit" ></div>
		<div class="cancel_button"><input type="button" value="{{'btn_cancel'|tr:lang}}" class="btn_blue_small" id="ajax_cancel"></div>
	</div>
</div>

<style>
.listcolumn img {
	max-width:80px;
	max-height:25px;
}
</style>

<div class="content_list">
	<div class="listTop">
		<div class="listtopcolumn" style="float:left;width:80px;text-align:center;">{{'section'|tr:lang}}{{'code'|tr:lang}}</div>
		<div class="listtopcolumn" style="float:left;width:300px;text-align:center;">{{'section'|tr:lang}}{{'name'|tr:lang}}</div>
		<div class="listtopcolumn" style="float:left;width:100px;text-align:center;">{{'category'|tr:lang}}</div>
		<div class="listtopcolumn" style="float:left;width:150px;text-align:center;">{{'product_edit'|tr:lang}}</div>
		<div class="listtopcolumn" style="float:left;width:100px;text-align:center;">{{'product_count'|tr:lang}}</div>
  {%if shop.it_setup.6 %}<!-- SELF ORDER -->
		<div class="listtopcolumn" style="float:left;width:80px;text-align:center;">{{'image'|tr:lang}}{{'code'|tr:lang}}</div>
  {%endif%}

  {%if shop_cnt > 1 and lang != "zh" %}
		<div class="listtopcolumn" style="float:left;width:80px;text-align:center;">共通区分</div>
  {%endif%}
		<div class="listtopcolumn" style="float:left;width:100px;text-align:center;">軽減税率</div>
	</div>
  {% for item in sections %}
	{% if item.flag_del %}
	<div class="content_item" style="color:red;">
	{%else%}
	<div class="content_item">
    {%endif%}
		<div class="listcolumn" style="float:left;width:80px;text-align:center;">{{ item.sect_id }}</div>
		<div class="listcolumn" style="float:left;width:300px;text-align:left;">{{ item.kname }}</div>
		<div class="listcolumn" style="float:left;width:100px;text-align:center;">{% if item.food_drink == 1%}{{'drink'|tr:lang}}{%else%}{{'food'|tr:lang}}{%endif%}</div>
		<div class="listcolumn" style="float:left;width:150px;text-align:center;">
		  {% if item.flag_del %}
			削除済み
		  {%else%}
			<a href="/master/product?sect_id={{ item.sect_id }}&shop_id={{ shop_id }}">{{'individual'|tr:lang}}</a>
			<a href="/master/productall?sect_id={{ item.sect_id }}&shop_id={{ shop_id }}" style="margin-left:20px;">{{'bulk'|tr:lang}}</a>
		  {%endif%}
		</div>
		<div class="listcolumn" style="float:left;width:100px;text-align:center;">{{ item.lastno_prod|add:'-1' }}</div>
	  {%if shop.it_setup.6 %}<!-- SELF ORDER -->
		<div class="listcolumn" style="float:left;width:80px;text-align:center;">{%if item.image_no %}<img src="/static/image/default_image{{ item.image_no }}.jpg">{%endif%}</div>
	  {%endif%}

	  {%if shop_cnt > 1 and lang != "zh" %}
		<div class="listcolumn" style="float:left;width:80px;text-align:center;">{% if item.common_sect == 1%}全店舗共通{%endif%}</div>
	  {%endif%}

		<div class="listcolumn" style="float:left;width:100px;text-align:center;">{% if item.multi_tax == 5 %}軽減税対象{%endif%}</div>
		<input type="hidden" name="item_id" id="item_id" value="{{ item.sect_id }}">
		<input type="hidden" name="item_1"  id="item_1"  value="{{ item.kname }}">
		<input type="hidden" name="item_2"  id="item_2"  value="{{ item.food_drink }}">
	  {%if shop.it_setup.6 %}<!-- SELF ORDER -->
		<input type="hidden" name="item_3"  id="item_3"  value="{{ item.image_no }}">
		<input type="hidden" name="item_4"  id="item_4"  value="{{ item.common_sect }}">
		<input type="hidden" name="item_5"  id="item_5"  value="{{ item.multi_tax }}">
	  {%else%}
		<input type="hidden" name="item_3"  id="item_3"  value="{{ item.common_sect }}">
		<input type="hidden" name="item_4"  id="item_4"  value="{{ item.multi_tax }}">
	  {%endif%}
	</div>
  {% endfor %}
</div>
<div style="clear:both;">
<br>
{{'cmt_product_1'|tr:lang}}<br>
{{'cmt_product_2'|tr:lang}}<br>
<br>
</div>

  {%if shop.it_setup.6 %}<!-- SELF ORDER -->

<style>
div img {
	max-width:80px;
	max-height:80px;
}
</style>

<div style="clear:both; margin-top:20px;">
<table border="0" cellpadding="0" cellspacing="1" >
  <tr>
  <th  class='listtd3' colspan="11">Image List<th>
  </tr>
  <tr>
	<th class='listtd1'>&nbsp;NO&nbsp;</th>
	<th class='listtd1'>1</th>
	<th class='listtd1'>2</th>
	<th class='listtd1'>3</th>
	<th class='listtd1'>4</th>
	<th class='listtd1'>5</th>
	<th class='listtd1'>6</th>
	<th class='listtd1'>7</th>
	<th class='listtd1'>8</th>
	<th class='listtd1'>9</th>
	<th class='listtd1'>10</th>
  </tr>
  <tr>
	<th class='listtd1'>0</th>
	<td class="listtd2"><img src="/static/image/default_image1.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image2.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image3.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image4.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image5.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image6.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image7.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image8.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image9.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image10.jpg"></td>
  </tr>
  <tr>
	<th class='listtd1'>1</th>
	<td class="listtd2"><img src="/static/image/default_image11.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image12.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image13.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image14.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image15.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image16.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image17.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image18.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image19.jpg"></td>
	<td class="listtd2"><img src="/static/image/default_image20.jpg"></td>
  </tr>
</table>
</div>


  {% endif %}


<script type="text/javascript">
<!--

var callback = function(json){
	var resultData = json.data.toString().split(',');
	var individual = "{{'individual'|tr:lang}}";
	var bulk = "{{'bulk'|tr:lang}}";
	var str_content = "";

	if (json.result==0) {
		var food_drink  = "{{'drink'|tr:lang}}";
		var multi_tax = "";
		var commen_sect = "";
		if (resultData[2]==2) food_drink  = "{{'food'|tr:lang}}";
		if (resultData[5]==5) multi_tax = "軽減税対象";
		if (resultData[6]==1) commen_sect = "全店舗共通";

		if($("#mode").val()=="insert"){
			str_content = "<div class='content_item'>"+
				"<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"  + resultData[0]+"</div>"+
				"<div class='listcolumn' style='float:left;width:300px;text-align:left;'>"   + resultData[1]+"</div>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'>" + food_drink   +"</div>"+
				"<div class='listcolumn' style='float:left;width:150px;text-align:center;'>" +
					"<a href=\"/master/product?sect_id="+resultData[0]+"\">" + individual +"</a>"+
					"<a href=\"/master/productall?sect_id="+resultData[0]+"\"  style=\"margin-left:20px;\">" + bulk + "</a></div>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'>0</div>";
		{%if shop.it_setup.6 %}<!-- SELF ORDER -->
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>" + resultData[4]+"</div>";
		{%endif%}

		{%if shop_cnt > 1 and lang != "zh" %}
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"   + commen_sect  +"</div>";
		{%endif%}
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"   + multi_tax  +"</div>";

			str_content += 	"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0]+"'>" +
				"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[1]+"'>" +
				"<input type='hidden' name='item_2'  id='item_2'  value='"+resultData[2]+"'>" +
			{%if shop.it_setup.6 %}<!-- SELF ORDER -->
				"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[4]+"'>" +
				"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[6]+"'>" +
				"<input type='hidden' name='item_5'  id='item_5'  value='"+resultData[5]+"'>" +
			{%else%}
				"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[6]+"'>" +
				"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[5]+"'>" +
			{%endif%}
				"</div>";

			$(".content_list").append( str_content );
			$("#section_name").val("");
			$("#insert_ajax_div").hide();
			disableMask();
		}else if($("#mode").val()=="update" || $("#mode").val()=="delete" ){
			$("#section_name").val("");
			$("#insert_ajax_div").hide();

			str_content = "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"  + resultData[0]+"</div>"+
				"<div class='listcolumn' style='float:left;width:300px;text-align:left;'>"   + resultData[1]+"</div>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'>" + food_drink   +"</div>"+
				"<div class='listcolumn' style='float:left;width:150px;text-align:center;'>";

			if($("#mode").val()=="delete") {
				$(".content_item_selected").css("color","red");
				str_content += "削除済み</div>";
			} else {
				$(".content_item_selected").css("color","black");
				str_content +=
					"<a href=\"/master/product?sect_id="+resultData[0]+"\">" + individual +"</a>" +
					"<a href=\"/master/productall?sect_id="+resultData[0]+"\"  style=\"margin-left:20px;\">" + bulk + "</a></div>";
			}
			str_content += "<div class='listcolumn' style='float:left;width:100px;text-align:center;'>"  + (resultData[3] - 1) +"</div>";
		{%if shop.it_setup.6 %}<!-- SELF ORDER -->
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"   + resultData[4]+"</div>";
		{%endif%}

		{%if shop_cnt > 1 and lang != "zh" %}
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"   + commen_sect  +"</div>";
		{%endif%}
			str_content += "<div class='listcolumn' style='float:left;width:80px;text-align:center;'>"   + multi_tax  +"</div>";

			str_content += "<input type='hidden' name='item_id' id='item_id' value='"+resultData[0]+"'>" +
				"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[1]+"'>" +
				"<input type='hidden' name='item_2'  id='item_2'  value='"+resultData[2]+"'>" +
			{%if shop.it_setup.6 %}<!-- SELF ORDER -->
				"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[4]+"'>" +
				"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[6]+"'>" +
				"<input type='hidden' name='item_5'  id='item_5'  value='"+resultData[5]+"'>";
			{%else%}
				"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[6]+"'>" +
				"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[5]+"'>";
			{%endif%}

			$(".content_item_selected").html( str_content );
			disableMask();
		}
	}else {
		alert("ajax error");
	}
}
//-->
</script>
{% endblock %}
