{% extends "base.html" %}

{% block contents %}
<div id="mask"></div>
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}" class="ajax_datas">
<input type="hidden" name="target_name" id="target_name" value="product"     class="ajax_datas">
<input type="hidden" name="mode"        id="mode"        value=""            class="ajax_datas">
<input type="hidden" name="content_id"  id="content_id"  value=""            class="ajax_datas">
<input type="hidden" name="sect_id"     id="sect_id"     value="{{sect.sect_id}}" class="ajax_datas">

<div id="section_area" style="margin:10px;">
	<div style="float:left;line-height:25px;">{{'section'|tr:lang}} :&nbsp;</div>
	<div style="float:left;">
		<select name="section_select" id="section_select">
		<option value="">---------------</option>
		{% for section in sections %}
			{% if not section.flag_del %}
				{% if sect.sect_id == section.sect_id %}
					<option value="{{section.sect_id}}" selected>{{section.sect_id}}-{{section.kname}}</option>
				{% else %}
					<option value="{{section.sect_id}}">{{section.sect_id}}-{{section.kname}}</option>
				{% endif %}
			{%endif%}
		{% endfor %}
		</select>
	</div>
</div>

<div class="buttons">
{% if loginData.shop_user.disabl_edit %}
		<input type="button" class="btn_small_unuse" value="{{'btn_update'|tr:lang}}" id="updateContent" disabled="disabled">
{%else%}
	{%if sect.lastno_prod > 99 %}
		<input type="button" class="btn_small_unuse" value="{{'btn_new'|tr:lang}}" id="insertNew" disabled="disabled">
	{%else%}
		<input type="button" class="btn_orange_small" value="{{'btn_new'|tr:lang}}" id="insertNew">
	{%endif%}
		<input type="button" class="btn_orange_small" value="{{'btn_update'|tr:lang}}" id="updateContentProduct">
		<input type="button" class="btn_red_small"    value="{{'btn_delete'|tr:lang}}" id="deleteContent">
		<input type="button" class="btn_red_small" style="width:110px;" value="削除商品除去" id="deleteProductClear" onclick="location.href='/master/product?sect_id={{sect.sect_id}}&shop_id={{shop_id}}&deleteProductClear=1'"
	 title="削除され赤く表示された商品を完全に削除させます。
但し、後ろから辿って行き、削除されなかった商品が出るまでが削除されます。">
		<span style="margin-left:100px;">{{'reserve_price_fix'|tr:lang}}</span>
		<input type="text" name="reservedDate" id="reservedDate" size="10"  readonly="readonly" />
		<input type="button" class="btn_orange_small" value="{{'btn_reserved_set'|tr:lang}}" id="reserved_set">
<!--
		<input type="button" class="btn_red_small" style="margin-left:100px;" value="{{'btn_delete_clear'|tr:lang}}" id="deleteContent">
-->
{%endif%}
</div>


<div id="insert_ajax_div">
	<div id="insert_title">{{title}} {{'btn_new'|tr:lang}} / {{'btn_update'|tr:lang}}</div>

	<div style="clear:both;">
		<div class="insert_column">{{'product_name'|tr:lang}}</div>
		<div class="insert_text">
			<input type="text" class="input_text_m ajax_datas inputarea validate required" name="kname" id="kname">
			<input type="text" class="input_text_s ajax_datas inputarea" name="kname2" id="kname2">
		    <div class="errordiv" id="kname_error"></div>
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">{{'price_unit'|tr:lang}}</div>
		<div class="insert_text">
		  {% if G_LANG_SEL == "zh" %}
			<input type="text" class="input_text_s ajax_datas inputarea validate R_float" name="price_unit" id="price_unit">
		  {%else%}
			<input type="text" class="input_text_s ajax_datas inputarea validate R_numeric" name="price_unit" id="price_unit">
		  {%endif%}

		    <div class="errordiv" id="price_unit_error"></div>
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">{{'price_changeable'|tr:lang}}</div>
		<div class="insert_text">
			<select name="changeable" id="changeable" class="ajax_datas inputarea">
				<option value="0">{{'unchangeable'|tr:lang}}</option>
				<option value="1">{{'changeable'|tr:lang}}</option>
			</select>{{'cmt_changeable'|tr:lang}}
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">{{'price_raw'|tr:lang}}</div>
		<div class="insert_text">
			<input type="text" class="input_text_s ajax_datas inputarea validate float" name="price_raw" id="price_raw">
		    <div class="errordiv" id="price_raw_error"></div>
		</div>
	</div>
	<input type="hidden" name="tax_id" id="tax_id" class="ajax_datas inputarea">

	<div style="clear:both;">
		<div class="insert_column">{{'printer_kbn'|tr:lang}}</div>
		<div class="insert_text">
			<select name="printer_id" id="printer_id" class="ajax_datas inputarea validate required">
			 {% for usage in printers %}
			  {%if forloop.counter > 1 and usage %}
				<option value="{{ forloop.counter }}" {%if forloop.counter0 == sect.food_drink%}selected{%endif%}>{{ usage }}</option>
			  {% endif %}
			 {% endfor %}
		</select>

		</div>
	</div>

	<div style="clear:both;">
		<div class="insert_column">Options</div>
		<div class="insert_text"><!--  input type="text" class="input_text_m ajax_datas" name="st_option" id="st_option">-->
			<select name="option1" id="option1" class="ajax_datas inputarea">
				<option value="">--------</option>
				{% for option in options %}
				<option value="{{  option.option_id  }}">{{ option.kname }}</option>
				{% endfor %}
			</select><br>
			<select name="option2" id="option2" class="ajax_datas inputarea">
				<option value="">--------</option>
				{% for option in options %}
				<option value="{{  option.option_id  }}">{{ option.kname }}</option>
				{% endfor %}
			</select><br>
			<select name="option3" id="option3" class="ajax_datas inputarea">
				<option value="">--------</option>
				{% for option in options %}
				<option value="{{  option.option_id  }}">{{ option.kname }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div style="clear:both;">
		<div class="insert_column" id="print_priority">{{'print_priority'|tr:lang}}</div>
		<div class="insert_text">
			<input type="text" class="input_text_s ajax_datas inputarea validate numeric" name="priority" id="priority" value="50">
			<span id="print_comment">{{'cmt_priority'|tr:lang}}</span>
		    <div class="errordiv" id="priority_error"></div>
		</div>
	</div>

	<div style="clear:both;">
		<div class="insert_column">{{'price_reserved'|tr:lang}}</div>
		<div class="insert_text">
			<input type="text" class="input_text_s ajax_datas inputarea validate float" name="price_reserved" id="price_reserved">{{'cmt_reserved'|tr:lang}}
		    <div class="errordiv" id="price_reserved_error"></div>
		</div>
	</div>

	<div style="clear:both;">
		<div class="insert_column">{{'course_cd'|tr:lang}}</div>
		<div class="insert_text">
			<select name="course_cd" id="course_cd" class="ajax_datas inputarea">
				<option value="">----</option>
			  {% for item in courses %}
				{%if item.kname %}
				<option value="{{item.course_cd}}">{{item.kname}}</option>
				{% endif %}
			  {% endfor %}
	       </select>{{'cmt_course'|tr:lang}}
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">{{'etc_char'|tr:lang}}</div>
		<div class="insert_text">
			<select name="etc_char" id="etc_char" class="ajax_datas inputarea">
				<option value="0">--</option>
				<option value="1">{{'etc_char_1'|tr:lang}}</option>
				<option value="2">{{'etc_char_2'|tr:lang}}</option>
			{% if shop.regi_version > "2.7.6" %}
				<!-- 印刷優先順位が設定時間になる -->
				<option value="3">{{'etc_char_3'|tr:lang}}</option>
				<option value="4">{{'etc_char_4'|tr:lang}}</option>
				<option value="5">{{'etc_char_5'|tr:lang}}</option>
			  {% if shop.regi_version > "3.0.0" %}
				<option value="6">{{'etc_char_6'|tr:lang}}</option>
				<option value="7">{{'etc_char_7'|tr:lang}}</option>
			  {% endif %}
			  {% if shop.regi_version > "3.4.7" %}
				<option value="9">割引対象指定商品</option>
			  {% endif %}
			{% endif %}
			</select>
		</div>
	</div>

{% if not shop.regi_version or shop.regi_version > "3.3.7" %}
	<div style="clear:both;">
		<div class="insert_column">Tab Options</div>
		<div class="insert_text"><!--  input type="text" class="input_text_m ajax_datas" name="st_option" id="st_option">-->
			<select name="tab_option" id="tab_option" class="ajax_datas inputarea">
				<option value="0">--------</option>
				{% for item in menutabs %}
				<option value="{{item.0}}">{{ item.1 }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
{%endif%}


	<div id="insert_buttons">
	    <input type="button" value="{{'btn_ok'|tr:lang}}"    class="btn_blue_small" id="ajax_submit">
	    <input type="button" value="{{'btn_cancel'|tr:lang}}" class="btn_blue_small" id="ajax_cancel">
	</div>
</div>


<div style="width:1330px;height:600px;overflow-y:scroll;">

<div class="content_list">
	<div class="listTop">
		<div class="listtopcolumn" style="width:50px;text-align:center;">PLU</div>
		<div class="listtopcolumn" style="width:320px;text-align:center;">{{'product_name'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:70px;text-align:center;">{{'price_unit'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:50px;text-align:center;">{{'price_changeable_short'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:120px;text-align:center;">{{'etc_char'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:70px;text-align:center;">{{'price_raw'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:70px;text-align:center;">{{'price_reserved'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:70px;text-align:center;">{{'printer'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:80px;text-align:center;">{{'print_priority_short'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:70px;text-align:center;">{{'course_cd'|tr:lang}}</div>
		<div class="listtopcolumn" style="width:200px;text-align:center;">Option</div>
	</div>

  {% for item in products %}
	{% if item.flag_del %}
	<div class="content_item" style="color:red;">
	{%else%}
	<div class="content_item" style="color:black;">
	{%endif%}
		<div class="listcolumn" style="width:50px;text-align:center;">{{ item.plucode }}</div>
		<div class="listcolumn" style="width:200px;text-align:left;">{{ item.kname }}</div>
		<div class="listcolumn" style="width:110px;text-align:left;">{{ item.kname2|default:"" }}</div>
		<div class="listcolumn number_format" style="width:70px;text-align:right;">{{ item.price_unit|money_form }}</div>
		<div class="listcolumn" style="width:50px;text-align:center;">
			{% if item.changeable %}可{%endif%}
		</div>
		<div class="listcolumn number_format" style="width:120px;text-align:center;">
			{% if item.etc_char == 1 %}{{'unlimit'|tr:lang}}{%endif%}
			{% if item.etc_char == 2 %}{{'etc_char_2_short'|tr:lang}}{%endif%}
			{% if item.etc_char == 3 %}{{'etc_char_3_short'|tr:lang}}{%endif%}
			{% if item.etc_char == 4 %}{{'etc_char_4'|tr:lang}}{%endif%}
			{% if item.etc_char == 5 %}{{'etc_char_5_short'|tr:lang}}{%endif%}
			{% if item.etc_char == 6 %}{{'etc_char_6'|tr:lang}}{%endif%}
			{% if item.etc_char == 7 %}{{'etc_char_7'|tr:lang}}{%endif%}
			{% if item.etc_char == 9 %}割引対象指定商品{%endif%}
		</div>
		<div class="listcolumn number_format" style="width:70px;text-align:right;">{{ item.price_raw|money_form }}</div>
		<div class="listcolumn number_format" style="width:70px;text-align:right;">{{ item.price_reserved|money_form_blank }}</div>
		<div class="listcolumn" style="width:70px;text-align:center;">
			{% for usage in printers %}
			  {% if forloop.counter == item.printer_id %}
					{{ usage }}
			  {% endif %}
			{% endfor %}
		</div>
		<div class="listcolumn number_format" style="width:80px;text-align:center;">{{ item.priority }}
			{% if item.etc_char == 1 or item.etc_char == 3 or item.etc_char == 4 or item.etc_char == 5 %}{{'timeunit_mm'|tr:lang}}{%endif%}
		</div>
		<div class="listcolumn" style="width:70px;text-align:left;">
			{%if item.course_cd %}
			    {% for course in courses %}
					{% if course.course_cd == item.course_cd %}
						<a href="/master/course?course={{ course.course_cd }}">{{ course.kname|slice:":5" }}</a>
					{% endif %}
			    {% endfor %}
			{%endif%}
		</div>
		<div class="listcolumn" style="width:200px;ext-align:center;">
		  {% if item.option_tabid %}
			{% for menutab_item in menutabs %}
				{% if menutab_item.0 == item.option_tabid %}
					{{menutab_item.1}}
				{% endif %}
			{% endfor %}
		  {% else %}
			{% for option_item in item.st_option_id %}
				{% if option_item %}
					{% if forloop.counter == 1 %}
						{% for option in options %}
							{% if option.option_id == option_item %}
								<a href="/master/option?option_id={{ option.option_id }}">{{ option.kname }}</a>
							{% endif %}
						{% endfor %}
					{% else %}
						{% for option in options %}
							{% if option.option_id == option_item %}
							, <a href="/master/option?option_id={{ option.option_id }}">{{ option.kname }}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
			{% endfor %}
		  {% endif %}
		</div>

		<input type="hidden" name="item_id" id="item_id" value="{{ item.plucode }}">
		<input type="hidden" name="item_1"  id="item_1"  value="{{ item.kname }}">
		<input type="hidden" name="item_2"  id="item_2"  value="{{ item.kname2|default:"" }}">
		<input type="hidden" name="item_3"  id="item_3"  value="{{ item.price_unit }}">
		<input type="hidden" name="item_4"  id="item_4"  value="{{ item.changeable }}">
		<input type="hidden" name="item_5"  id="item_5"  value="{{ item.price_raw }}">
		<input type="hidden" name="item_7"  id="item_7"  value="{{ item.printer_id }}">
		<input type="hidden" name="item_8"  id="item_8"  value="{{ item.st_option_id.0 }}">
		<input type="hidden" name="item_9"  id="item_9"  value="{{ item.st_option_id.1 }}">
		<input type="hidden" name="item_10" id="item_10" value="{{ item.st_option_id.2 }}">
		<input type="hidden" name="item_11" id="item_11" value="{{ item.priority }}">
		<input type="hidden" name="item_12" id="item_12" value="{{ item.price_reserved|default:"" }}">
		<input type="hidden" name="item_13" id="item_13" value="{{ item.course_cd|default:"" }}">
		<input type="hidden" name="item_14" id="item_14" value="{{ item.etc_char|default:"0" }}">
		<input type="hidden" name="item_15" id="item_15" value="{{ item.option_tabid|default:"0" }}">
	</div>
  {% endfor %}
</div>
</div><!-- scroll -->



<div style="clear:both;">
<br>{{'cmt_product_edit'|tr:lang}}
</div>


<script type="text/javascript">
<!--
{%if G_LANG_SEL == "zh" %}
	$("#price_unit").addClass("UNDER_DECIMAL");
	$("#price_raw").addClass("UNDER_DECIMAL");
	$("#price_reserved").addClass("UNDER_DECIMAL");
	function UNDER_DECIMAL(tmp_value) {
	    return (tmp_value / 100.0).toFixed(2);
	}
{%else%}
	function UNDER_DECIMAL(tmp_value) {
	    return tmp_value;
	}
{%endif%}

var i=0;
var printers=new Array();
{% for printer in printers %}
	printers[i]=new Array();
	printers[i][0]=i+1;
	printers[i][1]="{{printer}}";
	i++;
{% endfor %}

var i=0;
var taxs=new Array();
{% for tax in taxs %}
	taxs[i]=new Array();
	taxs[i][0]="{{tax.tax_id}}";
	taxs[i][1]="{{tax.tax_name}}";
	i++;
{% endfor %}

var i=0;
var options=new Array();
{% for option in options %}
	options[i]=new Array();
	options[i][0]="{{option.option_id}}";
	options[i][1]="{{option.kname}}";
	i++;
{% endfor %}

var i=0;
var tab_option=new Array();
{% for item in menutabs %}
	i = {{item.0}} - 1;
	tab_option[i] ="{{item.1}}";
//	i++;
{% endfor %}

i=0;
var courses=new Array();
{% for course in courses %}
    courses[i]=new Array();
    courses[i][0]="{{course.course_cd}}";
    courses[i][1]="{{course.kname}}";
	i++;
{% endfor %}

var selected_section="{{sect.sect_id}}";


var callback = function(json){
	var resultData = json.data;
	if (json.result==0) {
		if($("#mode").val()=="insert"){
			var option_text="<a href=\"/master/option?option_id="+resultData[0][5][0]+"\">"+findVal(options,resultData[0][5][0])+"</a>";
			var course_text="<a href=\"/master/course?course="+resultData[0][11]+"\">"+findVal(courses,resultData[0][11])+"</a>";
			var unitprice_input = "";
			var etc_char  = "";
			var limittime = "";

			if (resultData[0][7] == 1) unitprice_input="{{'changeable'|tr:lang}}";
			if (resultData[0][12] == 1 || resultData[0][12] == 3 || resultData[0][12] == 4 || resultData[0][12] == 5) {
				limittime="{{'timeunit_mm'|tr:lang}}";
			}
			if (resultData[0][12] == 1) etc_char="{{'unlimit'|tr:lang}}";
			if (resultData[0][12] == 2) etc_char="{{'etc_char_2_short'|tr:lang}}";
			if (resultData[0][12] == 3) etc_char="{{'etc_char_3_short'|tr:lang}}";
			if (resultData[0][12] == 4) etc_char="{{'etc_char_4'|tr:lang}}";
			if (resultData[0][12] == 5) etc_char="{{'etc_char_5_short'|tr:lang}}";
			if (resultData[0][12] == 6) etc_char="{{'etc_char_6'|tr:lang}}";
			if (resultData[0][12] == 7) etc_char="{{'etc_char_7'|tr:lang}}";
			if (resultData[0][12] == 9) etc_char="割引対象指定商品";

			if(findVal(options,resultData[0][5][1]).length>0){
				option_text+=" , <a href=\"/master/option?option_id="+resultData[0][5][1]+"\">"+findVal(options,resultData[0][5][1])+"</a>";
			}
			if(findVal(options,resultData[0][5][2]).length>0){
				option_text+=" , <a href=\"/master/option?option_id="+resultData[0][5][2]+"\">"+findVal(options,resultData[0][5][2])+"</a>";
			}
			if(resultData[0][13]>0){
				option_text = tab_option[resultData[0][13] - 1];
			}


			$(".content_list").append("<div class='content_item'>"
					+"<div class='listcolumn' style='width:50px;text-align:center;'>" + resultData[0][0]+"</div>"
					+"<div class='listcolumn' style='width:200px;text-align:left;'>"  + resultData[0][1]+"</div>"
					+"<div class='listcolumn' style='width:110px;text-align:left;'>"  + resultData[0][8]+"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][2]) +"</div>"
					+"<div class='listcolumn' style='width:50px;text-align:center;'>" + unitprice_input +"</div>"
					+"<div class='listcolumn' style='width:120px;text-align:center;'>" + etc_char + "</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][3]) +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][10]) +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:center;'>" + findVal(printers,resultData[0][6])+ "</div>"
					+"<div class='listcolumn' style='width:80px;text-align:center;'>" + resultData[0][9]+ limittime +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:left;'>"   + course_text + "</div>"
					+"<div class='listcolumn' style='width:200px;ttext-align:center;'>" + option_text + "</div>"
					+"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0][0]+"'>"
					+"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[0][1]+"'>"
					+"<input type='hidden' name='item_2'  id='item_2'  value='"+resultData[0][8]+"'>"
					+"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[0][2]+"'>"
					+"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[0][7]+"'>"
					+"<input type='hidden' name='item_5'  id='item_5'  value='"+resultData[0][3]+"'>"
					+"<input type='hidden' name='item_12' id='item_12' value='"+resultData[0][10]+"'>"
					+"<input type='hidden' name='item_7'  id='item_7'  value='"+resultData[0][6]+"'>"
					+"<input type='hidden' name='item_8'  id='item_8'  value='"+resultData[0][5][0]+"'>"
					+"<input type='hidden' name='item_9'  id='item_9'  value='"+resultData[0][5][1]+"'>"
					+"<input type='hidden' name='item_10' id='item_10' value='"+resultData[0][5][2]+"'>"
					+"<input type='hidden' name='item_11' id='item_11' value='"+resultData[0][9]+"'>"
					+"<input type='hidden' name='item_13' id='item_13' value='"+resultData[0][11]+"'>"
					+"<input type='hidden' name='item_14' id='item_14' value='"+resultData[0][12]+"'>"
					+"<input type='hidden' name='item_15' id='item_15' value='"+resultData[0][13]+"'>"
					+"</div>");
			$(".inputarea").val("");
			$(".errordiv").html("");
			$("#insert_ajax_div").hide();

			last_plu = resultData[0][0];
			if(last_plu.slice(-2) == "99" ) {
				$("#insertNew").attr("disabled", "disabled");
				$("#insertNew").removeClass("btn_orange_small");
				$("#insertNew").addClass("btn_small_unuse");
			}
			disableMask();
		}else if($("#mode").val()=="update" || $("#mode").val()=="delete" ){
			var option_text="<a href=\"/master/option?option_id="+resultData[0][5][0]+"\">"+findVal(options,resultData[0][5][0])+"</a>";
			var course_text="<a href=\"/master/course?course="+resultData[0][11]+"\">"+findVal(courses,resultData[0][11])+"</a>";
			var unitprice_input = "";
			var etc_char = "";
			if($("#mode").val()=="delete") {
				$(".content_item_selected").css("color","red");
			} else {
				$(".content_item_selected").css("color","black");
			}

			var limittime = "";
			if (resultData[0][12] == 1 || resultData[0][12] == 3 || resultData[0][12] == 4 || resultData[0][12] == 5) {
				limittime="{{'timeunit_mm'|tr:lang}}";
			}
			if (resultData[0][7] == 1) unitprice_input="{{'changeable'|tr:lang}}";
			if (resultData[0][12] == 1) etc_char="{{'unlimit'|tr:lang}}";
			if (resultData[0][12] == 2) etc_char="{{'etc_char_2_short'|tr:lang}}";
			if (resultData[0][12] == 3) etc_char="{{'etc_char_3_short'|tr:lang}}";
			if (resultData[0][12] == 4) etc_char="{{'etc_char_4'|tr:lang}}";
			if (resultData[0][12] == 5) etc_char="{{'etc_char_5_short'|tr:lang}}";
			if (resultData[0][12] == 6) etc_char="{{'etc_char_6'|tr:lang}}";
			if (resultData[0][12] == 7) etc_char="{{'etc_char_7'|tr:lang}}";
			if (resultData[0][12] == 9) etc_char="割引対象指定商品";

			if(findVal(options,resultData[0][5][1]).length>0){
				option_text+=" , <a href=\"/master/option?option_id="+resultData[0][5][1]+"\">"+findVal(options,resultData[0][5][1])+"</a>";
			}
			if(findVal(options,resultData[0][5][2]).length>0){
				option_text+=" , <a href=\"/master/option?option_id="+resultData[0][5][2]+"\">"+findVal(options,resultData[0][5][2])+"</a>";
			}
			if(resultData[0][13]>0){
				option_text = tab_option[resultData[0][13] - 1];
			}

			$(".content_item_selected").html("<div class='listcolumn' style='width:50px;text-align:center;'>"+resultData[0][0]+"</div>"
					+"<div class='listcolumn' style='width:200px;text-align:left;'>"  + resultData[0][1]+"</div>"
					+"<div class='listcolumn' style='width:110px;text-align:left;'>"   + resultData[0][8]+"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][2]) +"</div>"
					+"<div class='listcolumn' style='width:50px;text-align:center;'>" + unitprice_input +"</div>"
					+"<div class='listcolumn' style='width:120px;text-align:center;'>" + etc_char + "</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][3]) +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:right;'>"  + UNDER_DECIMAL(resultData[0][10]) +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:center;'>" + findVal(printers,resultData[0][6]) +"</div>"
					+"<div class='listcolumn' style='width:80px;text-align:center;'>" + resultData[0][9] + limittime +"</div>"
					+"<div class='listcolumn' style='width:70px;text-align:left;'>"   + course_text  + "</div>"
					+"<div class='listcolumn' style='width:200px;ttext-align:center;'>" + option_text+"</div>"
					+"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0][0]+"'>"
					+"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[0][1]+"'>"
					+"<input type='hidden' name='item_2'  id='item_2'  value='"+resultData[0][8]+"'>"
					+"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[0][2]+"'>"
					+"<input type='hidden' name='item_4'  id='item_4'  value='"+resultData[0][7]+"'>"
					+"<input type='hidden' name='item_5'  id='item_5'  value='"+resultData[0][3]+"'>"
					+"<input type='hidden' name='item_12' id='item_12' value='"+resultData[0][10]+"'>"
					+"<input type='hidden' name='item_7'  id='item_7'  value='"+resultData[0][6]+"'>"
					+"<input type='hidden' name='item_8'  id='item_8'  value='"+resultData[0][5][0]+"'>"
					+"<input type='hidden' name='item_9'  id='item_9'  value='"+resultData[0][5][1]+"'>"
					+"<input type='hidden' name='item_10' id='item_10' value='"+resultData[0][5][2]+"'>"
					+"<input type='hidden' name='item_11' id='item_11' value='"+resultData[0][9]+"'>"
					+"<input type='hidden' name='item_13' id='item_13' value='"+resultData[0][11]+"'>"
					+"<input type='hidden' name='item_14' id='item_14' value='"+resultData[0][12]+"'>"
					+"<input type='hidden' name='item_15' id='item_15' value='"+resultData[0][13]+"'>");
			$(".inputarea").val("");
			$(".errordiv").html("");
			$("#insert_ajax_div").hide();
			disableMask();
		}

	}else {
		alert("Error!! ErrorCode=" + json.result);
	}
}


if(selected_section.length == 0){
	$(".content_list").hide();
	$(".buttons").hide();
}


$("#reserved_set").click(function(){
	var reservedDate = "";
	if( $(this).val() == "{{'btn_reserved_set'|tr:lang}}" ) {
		reservedDate = $('#reservedDate').val();
		if(reservedDate == "") {
			alert("{{'msg_reserved_date'|tr:lang}}");
			return;
		}
		$(this).val("{{'btn_reserved_unset'|tr:lang}}");
	} else {
		$(this).val("{{'btn_reserved_set'|tr:lang}}");
		$('#reservedDate').val("");
	}

	jQuery.ajax({
		url : "/ajax/price_reserved",
		type : "post",
		data : {reservedDate:reservedDate, shop_id:{{shop_id}}},
		success : function(data){
			if (data["result"] == 0) {
				return;
			}
			alert("Error = " + data["result"]);
		},
		error : function(){
	        alert("Error!");
		}
	});
});


$('#reservedDate').datepicker({
    dateFormat:'yy/mm/dd',
    changeMonth: true,
    changeYear: true,
    minDate: 0,
    maxDate: '3M',
    //showOn: 'button',
    monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"],
});

$('#reservedDate').datepicker('setDate', "{{reserved_price_date|default:''}}");


if($('#reservedDate').val() != "") {
	$('#reserved_set').val("{{'btn_reserved_unset'|tr:lang}}");
}

$("#section_select").change(function(){
	var url="/master/product";
	var getPram="?sect_id=" + $(this).val() + "&shop_id=" + $("#shop_id").val();
	$(location).attr('href',url+getPram);
});


$("#changeable").change(function(){
	if( $('#changeable').val() == "1" ) { //可
		$('#option1').val('0');
		$('#option2').val('0');
		$('#option3').val('0');
		$('#option1').prop('disabled', true);
		$('#option2').prop('disabled', true);
		$('#option3').prop('disabled', true);
	} else {
		$('#option1').prop('disabled', false);
		$('#option2').prop('disabled', false);
		$('#option3').prop('disabled', false);
	}
});

$('#etc_char').change(function() {
	var flag = Number($(this).val());
	if( flag == 1 || flag ==3  || flag ==4  || flag ==5 ) {
		$('#print_priority').html("{{'etc_char_5_short'|tr:lang}}");
		$('#print_comment').html("{{'timeunit_mm'|tr:lang}}");
	} else {
		$('#print_priority').html("{{'print_priority'|tr:lang}}");
		$('#print_comment').html("{{'cmt_priority'|tr:lang}}");
	}
	if( flag == 6 ) {
		$('#changeable').val(1);
	} else {
		$('#changeable').val(0);
	}
});


function func_show_ajax_div(){
	var etc_val = $('#etc_char').val();
	var flag = Number(etc_val);
	if( flag == 1 || flag ==3  || flag ==4  || flag ==5 ) {
		$('#print_priority').html("{{'etc_char_5_short'|tr:lang}}");
		$('#print_comment').html("{{'timeunit_mm'|tr:lang}}");
	} else {
		$('#print_priority').html("{{'print_priority'|tr:lang}}");
		$('#print_comment').html("{{'cmt_priority'|tr:lang}}");
	}
}


$("#updateContentProduct").click(function(){
	if ($(".content_item_selected").length==0) {
		alert(editNone);
		return false;
	}
	$("#insert_ajax_div").show();
	wrapWindowByMask();
	var i=1;
	$(".inputarea").each(function(){
		//alert("[item_" + i + "] = " +  $(".content_item_selected > #item_"+i).val()); //LSG
		var tmp_value = $(".content_item_selected > #item_"+i).val()
		if( $(this).hasClass("UNDER_DECIMAL") ) {
		    tmp_value = (tmp_value / 100.0).toFixed(2);
		}
		$(this).val(tmp_value);
		i++;
	});
	$("#mode").val("update");
	func_show_ajax_div();
});

//-->
</script>
{% endblock %}
