{% extends "base.html" %}

{% block contents %}
<div id="mask"></div>
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}" class="ajax_datas">
<input type="hidden" name="target_name" id="target_name" value="device"     class="ajax_datas">
<input type="hidden" name="mode"        id="mode"        value=""            class="ajax_datas">
<input type="hidden" name="content_id"  id="content_id"  value=""            class="ajax_datas">
<input type="hidden" name="sect_id"     id="sect_id"     value="{{sect.sect_id}}" class="ajax_datas">

<!--
<div id="section_area" style="margin:10px;">
	<div style="float:left;line-height:25px;">部門 : </div>
	<div style="float:left;">
		<select name="section_select" id="section_select">
		<option value="">---------------</option>
		{% for section in sections %}
			{% if sect.sect_id == section.sect_id %}
				<option value="{{section.sect_id}}" selected>{{section.kname}}</option>
			{% else %}
				<option value="{{section.sect_id}}">{{section.kname}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
</div>
-->


<div class="buttons">
		<input type="button" class="btn_orange_small" value="編集" id="gotoEdit">
</div>


<div id="insert_ajax_div">
	<div id="insert_title">{{title}} 수정</div>

	<div style="clear:both;">
		<div class="insert_column">UID</div>
		<div class="insert_text">
			<input type="text" class="input_text_m ajax_datas inputarea" name="uid" id="uid" disabled="disabled" >
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">칩 명칭</div>
		<div class="insert_text">
			<input type="text" class="input_text_m ajax_datas inputarea validate required" name="kname" id="kname">
		    <div class="errordiv" id="kname_error"></div>
		</div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">비고</div>
		<div class="insert_text">
			<input type="text" class="input_text_m ajax_datas inputarea" name="comment" id="comment">
		    <div class="errordiv" id="comment_error"></div>
		</div>
	</div>

	<div id="insert_buttons">
	    <input type="button" value="등록"    class="btn_blue_small" id="ajax_submit">
	    <input type="button" value="취소" class="btn_blue_small" id="ajax_cancel">
	</div>
</div>


<div class="content_list">
	<div class="listTop">
		<div class="listtopcolumn" style="width:100px;text-align:center;">ID</div>
		<div class="listtopcolumn" style="width:150px;text-align:center;">名称</div>
		<div class="listtopcolumn" style="width:80px;text-align:center;">上限温度</div>
		<div class="listtopcolumn" style="width:80px;text-align:center;">下限温度</div>
		<div class="listtopcolumn" style="width:80px;text-align:center;">間隔(秒)</div>
		<div class="listtopcolumn" style="width:150px;text-align:center;">設置場所</div>
		<div class="listtopcolumn" style="width:200px;text-align:center;">備考</div>
	</div>

  {% for item in products %}
	<div class="content_item" style="color:black;">
		<div class="listcolumn" style="width:100px;text-align:center;">{{ item.point_id }}</div>
		<div class="listcolumn" style="width:150px;text-align:left;">{{ item.kname }}</div>
		<div class="listcolumn" style="width:80px;text-align:center;">{{ item.limit_up }}</div>
		<div class="listcolumn" style="width:80px;text-align:center;">{{ item.limit_dn }}</div>
		<div class="listcolumn" style="width:80px;text-align:center;">{{ item.interval|default:10 }}</div>
		<div class="listcolumn" style="width:150px;text-align:center;">{{ item.location|default:"" }}</div>
		<div class="listcolumn" style="width:150px;text-align:center;">{{ item.comment|default:"" }}</div>
		<input type="hidden" name="item_id" id="item_id" value="{{ item.point_id }}">
		<input type="hidden" name="item_1"  id="item_1"  value="{{ item.point_id }}">
		<input type="hidden" name="item_2"  id="item_2"  value="{{ item.kname }}">
		<input type="hidden" name="item_3"  id="item_3"  value="{{ item.limit_up }}">
		<input type="hidden" name="item_4"  id="item_4"  value="{{ item.limit_dn }}">
		<input type="hidden" name="item_5"  id="item_5"  value="{{ item.interval }}">
		<input type="hidden" name="item_6"  id="item_6"  value="{{ item.location|default:"" }}">
		<input type="hidden" name="item_7"  id="item_7"  value="{{ item.comment|default:"" }}">
	</div>
  {% endfor %}
</div>
<div style="clear:both;">


<script type="text/javascript">
<!--
var i=0;

$("#gotoEdit").click(function(){
	//if ($(".content_item_selected").length==0) {
	//	alert(editNone);
	//	return false;
	//}
	document.location.href="/master/deviceall";
});
//var selected_section="{{sect.sect_id}}";

var callback = function(json){
	var resultData = json.data;
	if (json.result==0) {
		if($("#mode").val()=="update" || $("#mode").val()=="delete" ){
			if($("#mode").val()=="delete") {
				$(".content_item_selected").css("color","red");
			} else {
				$(".content_item_selected").css("color","black");
			}
			$(".content_item_selected").html("<div class='listcolumn' style='width:50px;text-align:center;'>"+resultData[0][0]+"</div>"
					+"<div class='listcolumn' style='width:150px;text-align:center;'>"   + resultData[0][1]+"</div>"
					+"<div class='listcolumn' style='width:200px;text-align:left;'>"  + resultData[0][2]+"</div>"
					+"<div class='listcolumn' style='width:300px;text-align:left;'>"  + resultData[0][3]+"</div>"
					+"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0][1]+"'>"
					+"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[0][1]+"'>"
					+"<input type='hidden' name='item_2'  id='item_2'  value='"+resultData[0][2]+"'>"
					+"<input type='hidden' name='item_3'  id='item_3'  value='"+resultData[0][3]+"'>");
			$(".inputarea").val("");
			$(".errordiv").html("");
			$("#insert_ajax_div").hide();
			disableMask();
		}
	}else {
		alert("サーバ処理でエラーが発生しました。管理者に連絡して下さい。ErrorCode=" + json.result);
	}
}

//-->
</script>
{% endblock %}
