{% extends "base.html" %}

{% block contents %}
<form method="POST" id="common" enctype="multipart/form-data">
<input type="hidden" name="shop_id" id="shop_id" value="{{shop_id}}" />
<!--
<div id="section_area" style="margin:10px;">
	{{'section'|tr:lang}} :&nbsp;
	<select name="section_select" id="section_select">
		<option value="">---------------</option>
		{% for section in sections %}
			{% if not section.flag_del %}
				{% if sect.sect_id == section.sect_id %}
					<option value="{{section.sect_id}}" selected>{{section.sect_id}}-{{section.kname}}</option>
				{% else %}
					<option value="{{section.sect_id}}">{{section.sect_id}}-{{section.kname}}</option>
				{% endif %}
			{% endif %}
		{% endfor %}
	</select>
</div>
-->

<div class="content_list">
<table border="0" cellpadding="0" cellspacing="1" id="target">
  <thead>
	  <tr>
		<th class='listtd1' width=80px>機器番号</td>
		<th class='listtd1' width=180px>機器名称</td>
		<th class='listtd1' width=80px>上限温度</td>
		<th class='listtd1' width=80px>下限温度</td>
		<th class='listtd1' width=80px>間隔(秒)</td>
		<th class='listtd1' width=150px>設置場所</td>
		<th class='listtd1' width=200px>備考</td>
	  </tr>
  </thead>
  <tbody>

{% for item in products %}
<tr>
    <td class="listtd1">
	    <input type="text" name="point_id"    id="point_id_{{forloop.counter}}" class="validate" size="6" value="{{item.point_id|default:''}}"/>
	    <div class="errordiv" id="point_id_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="kname"    id="kname_{{forloop.counter}}"    class="validate" size="20" value="{{item.kname|default:''}}"/>
	    <div class="errordiv" id="kname_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="limit_up" id="limit_up_{{forloop.counter}}" class="validate float"  size="5"  value="{{item.limit_up|default:''}}"/>
	    <div class="errordiv" id="limit_up_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="limit_dn" id="limit_dn_{{forloop.counter}}" class="validate float"  size="5"  value="{{item.limit_dn|default:''}}"/>
	    <div class="errordiv" id="limit_dn_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="interval" id="interval_{{forloop.counter}}" class="validate numeric"  size="5"  value="{{item.interval|default:10}}"/>
	    <div class="errordiv" id="interval_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="location" id="location_{{forloop.counter}}" class="validate" size="20"  value="{{item.location|default:''}}"/>
	    <div class="errordiv" id="location_{{forloop.counter}}_error"></div>
    </td>
    <td class="listtd2">
	    <input type="text" name="comment" id="comment_{{forloop.counter}}"  size="30"  value="{{item.comment|default:''}}"/>
	    <div class="errordiv" id="comment_{{forloop.counter}}_error"></div>
    </td>
</tr>
{% endfor %}
  </tbody>
</table>
<br>

{% if products %}
	{% if loginData.shop_user.disabl_edit or sect.common_sect %}
		<input type="button" class="btn_small_unuse" value="{{'btn_bulk_ok'|tr:lang}}" disabled>&nbsp;&nbsp;
	{% else %}
		<input type="submit" class="btn_orange_small" value="{{'btn_bulk_ok'|tr:lang}}">&nbsp;&nbsp;
	  {% if sect.lastno_prod < 100 %}
		<input type="button" id="btnEndAppend" value="{{'btn_append_last'|tr:lang}}" />
		<input type="button" id="btnEndDelete" value="{{'btn_delete_last'|tr:lang}}" />
	  {% endif %}
	{% endif %}
{% endif %}
</div>

{% if products %}
<div style="clear:both;">
<br>
	<div style="float:left;">
		<textarea name="product_tsv" id="product_tsv" rows="3" cols="80" placeholder="ここにExeclデータをコピペして下さい。&#13;&#10;商品名(上）	商品名(下）	単価"></textarea>
	</div>
	<div style="float:left;">
		　<button type="button" class="btn_blue_small" style="width:72px;height:42px;" id="btnTsvRead">読込み</button>
	</div>
</div>
{% endif %}

</form>


<script type="text/javascript">
<!--
$("#section_select").change(function(){
	var url="/master/deviceall";
	var getPram="?sect_id=" + $(this).val() + "&shop_id=" + $("#shop_id").val();
	$(location).attr('href',url+getPram);
});


getRowData = function(rowno) {
	print_str = "";
	{% for usage in printers %}
	  {%if forloop.counter > 1%}{% if usage %}
		print_str += '<option value="{{ forloop.counter }}" {%if forloop.counter0 == sect.food_drink%}selected{%endif%}>{{ usage }}</option>';
	  {% endif %}{%endif%}
	{% endfor %}

    return '<tr>'
		  +  '<td class="listtd1">append<input type="hidden" name="plucode" value="append"/></td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="kname" id="kname_' + rowno + '" class="validate required"  size="20">'
		  +	    '<div class="errordiv" id="kname_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="kname2" id="kname2_' + rowno + '"  size="12" maxlength="12">'
		  +	    '<div class="errordiv" id="kname2_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="price_unit" id="price_unit_' + rowno + '" class="validate R_float"  size="7" maxlength="6" value="0">'
		  +	    '<div class="errordiv" id="price_unit_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="price_reserved" id="price_reserved_' + rowno + '" class="validate R_float"  size="7" maxlength="6"  value="0">'
		  +	    '<div class="errordiv" id="price_reserved_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +		'<select name="printer_id" id="printer_id">'
		  +   print_str
		  +		'</select>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="priority" id="priority_' + rowno + '" class="validate R_numeric"  size="4" maxlength="3" value="50">'
		  +	    '<div class="errordiv" id="priority_' + rowno + '_error"></div>'
		  +  '</td>'
		  + '</tr>';
}


getRowProductInfo = function(rowno, product_items) {
	print_str = "";
	{% for usage in printers %}
	  {%if forloop.counter > 1%}{% if usage %}
		print_str += '<option value="{{ forloop.counter }}" {%if forloop.counter0 == sect.food_drink%}selected{%endif%}>{{ usage }}</option>';
	  {% endif %}{%endif%}
	{% endfor %}

    return '<tr>'
		  +  '<td class="listtd1">append<input type="hidden" name="plucode" value="append"/></td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="kname" id="kname_' + rowno + '" class="validate required"  size="20" value="' + product_items[0] + '">'
		  +	    '<div class="errordiv" id="kname_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="kname2" id="kname2_' + rowno + '"  size="12" value="' + product_items[1] + '">'
		  +	    '<div class="errordiv" id="kname2_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="price_unit" id="price_unit_' + rowno + '" class="validate R_float"  size="7" maxlength="6" value="' + product_items[2] + '">'
		  +	    '<div class="errordiv" id="price_unit_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="price_reserved" id="price_reserved_' + rowno + '" class="validate R_float"  size="7" maxlength="6"  value="0">'
		  +	    '<div class="errordiv" id="price_reserved_' + rowno + '_error"></div>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +		'<select name="printer_id" id="printer_id">'
		  +   print_str
		  +		'</select>'
		  +  '</td>'
		  +  '<td class="listtd2">'
		  +	    '<input type="text" name="priority" id="priority_' + rowno + '" class="validate R_numeric"  size="4" maxlength="3" value="50">'
		  +	    '<div class="errordiv" id="priority_' + rowno + '_error"></div>'
		  +  '</td>'
		  + '</tr>';
}

$(function(){
	var append_row = 0;
    $( "#btnEndAppend" ).click(function () {
        len = $("#target tbody").children().length;
    	if(len > 98) {
			//alert("cannot append Max 99一つの部門に99個以上の商品は追加できません。");
			alert("cannot append over 99 !!");
			return;
    	}
        $('#target').append( getRowData(len + 1) );
    	append_row++;
    });
    $( "#btnEndDelete" ).click(function () {
    	if(append_row > 0) {
            $("#target tbody tr:last").remove();
        	append_row--;
    	} else {
			//alert("追加した行のみ削除可能です。");
			alert("can delete only the lines appended !!");
    	}
    });


    $( "#btnTsvRead" ).click(function () {
		var products_info = $("#product_tsv").val();
		//alert( products_info );
        len = $("#target tbody").children().length;

		products_info.split(/\n/).forEach( function( value ) {
	    	if(len > 98) {
				alert("cannot append over 99 !!");
				return;
	    	}
		    //console.log( value );
			var product_items = value.split(/\t/);
			if( product_items.length < 3 ) return;
			//
			//product_items[1] = product_items[1].trim();
	        $('#target').append( getRowProductInfo(len + 1, product_items) );
	    	append_row++;
		});
		$("#product_tsv").val("");
    });
});

//-->
</script>

{% endblock %}

