{% extends "base.html" %}


{% block contents %}


	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' rowspan=2 width='70'>POINT ID</td>
			<td class='listtd1' rowspan=2 width='150'>POINT名称</td>
			<td class='listtd1' rowspan=2 width='120'>正常範囲</td>
			<td class='listtd1' colspan=3>分析温度</td>
			<td class='listtd1' colspan=2>収集データ</td>
			<td class='listtd1' rowspan=2 width='80'>詳細</td>
		</tr>
		<tr >
			<td class='listtd1' width='60'>平均</td>
			<td class='listtd1' width='60'>MIN</td>
			<td class='listtd1' width='60'>MAX</td>
			<td class='listtd1' width='80'>総件数</td>
			<td class='listtd1' width='80'>アラム件数</td>
		</tr>
	  {% for item in items %}
		<tr class='listcontent' style="text-align:center;">
		{% if item.6 > 0 %}
			<td><a href="point_month?startDate={{start_date}}&point_id={{item.0}}">{{item.0}}</a></td>
		{% else %}
			<td>{{item.0}}</td>
		{% endif %}
			<td style="text-align:left;">{{item.1}}</td>
			<td>{{item.2}}</td>
		{% if item.6 > 0 %}
			<td>{{item.3}}</td>
			<td style="color:red;">{{item.4}}</td>
			<td style="color:red;">{{item.5}}</td>
			<td class="number_form">{{item.6}}</td>
			<td class="number_form" style="color:red;">{{item.7}}</td>
			<td><a href="point_month?startDate={{start_date}}&point_id={{item.0}}">詳細</a></td>
		{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		{% endif %}
		</tr>
	  {% endfor %}
	</table>
  
{% endblock %}

