{% extends "base.html" %}

{% block head_javascript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style type="text/css">
<!--
#chart_div {
 overflow-x: scroll;
 overflow-y: hidden;     
 height: 400px;
 width: 100%;
}

 /* --- 外枠の定義 ---------------------------------------------*/
.container {
  width          : 100%;                /* BOXの幅             */
  /* ▼ FlexBoxの定義 */
  display        : flex;                 /* FlexBox定義         */
  justify-content: center;               /* 揃えの定義          */
  flex-wrap      : wrap;                 /* 折り返し定義        */
}

#table_div {
 overflow-x: hidden;
 overflow-y: scroll;
 height: 600px;
 width: 265px;
 margin: 5px;
}

#table_div_alarm {
 overflow-x: hidden;
 overflow-y: scroll;
 height: 600px;
 width: 265px;
 margin: 5px;
}
-->
</style>
{% endblock %}


{% block contents %}

<p align="center" style="font-size:20px;font-weight:bold;">
ID:{{ obj_point.point_id }} 名称:{{ obj_point.kname }} 日付:{{start_date|slice:":4"}}/{{start_date|slice:"4:6"}}/{{start_date|slice:"6:"}}
</p>

<div align="center" class="print container">

<div id="table_div">
<font size="+1">全体データ一覧</font><br>
上限温度:{{limit_up}}　下限温度:{{limit_dn}}

<table border="0" cellpadding="0" cellspacing="1" >
	<tr >
		<td class='listtd1' width='120'>時刻</td>
		<td class='listtd1' width='100'>温度</td>
	</tr>
  {% for item in items %}
	<tr class='listtd2' >
	  {% if item.1 > limit_up or item.1 < limit_dn %}
		<td class='listtd3' style="color:red;">{{item.0|slice:'0:2'}}:{{item.0|slice:'2:4'}}:{{item.0|slice:'4:6'}}</td>
		<td align="right" style="color:red;">{{item.1}}</td>
	  {% else %}
		<td class='listtd3'>{{item.0|slice:'0:2'}}:{{item.0|slice:'2:4'}}:{{item.0|slice:'4:6'}}</td>
		<td align="right">{{item.1}}</td>
	  {% endif %}
	</tr>
  {% endfor %}
</table>
</div>
　　
<div id="table_div_alarm">

<font size="+1" color="red">アラムデータ一覧</font><br>
上限温度:{{limit_up}}　下限温度:{{limit_dn}}

<table border="0" cellpadding="0" cellspacing="1" >
	<tr >
		<td class='listtd1' width='120'>時刻</td>
		<td class='listtd1' width='100'>温度</td>
	</tr>
  {% for item in items %}
	  {% if item.1 > limit_up or item.1 < limit_dn %}
	<tr class='listtd2' >
		<td class='listtd3' style="color:red;">{{item.0|slice:'0:2'}}:{{item.0|slice:'2:4'}}:{{item.0|slice:'4:6'}}</td>
		<td align="right" style="color:red;">{{item.1}}</td>
	</tr>
	  {% endif %}
  {% endfor %}
</table>
</div>

<div id="chart_div"></div>
<br/>

</div>


<script type="text/javascript">
<!--
  google.charts.load('current', {'packages':['corechart', 'line']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['X', '温度'],
  {% for item in items %}
	      [ {{item.0}}, {{item.1}} ],
  {% endfor %}
    ]);

    var options = {
        hAxis: {
          title: 'Time'
        },
        axes: {
          x: {
            0: {side: 'top'}
          }
        },
		width: data.getNumberOfRows() * 20,
    };

    var chart = new google.charts.Line(document.getElementById('chart_div'));
    chart.draw(data, google.charts.Line.convertOptions(options));
    //var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
    //chart.draw(data, options);
  }

//$("#csvdownload").val('CSV出力');
$("#csvdownload").prop('disabled', false);
$("#csvdownload").removeClass("btn_small_unuse").addClass("btn_blue_small");
setTimeout("CsvDownloadDisable()", 55000);

-->
</script>


{% endblock %}

