{% extends "base.html" %}

{% block contents %}
<form method="get">
{% if not items %}
	<p class="errorMsg">해당하는 데이타 없음</p>
{% else %}

<div class="print">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr>
		  <td class="listtd1" width="100">point_id</td>
		  <td class="listtd1" width="100">날짜</td>
		  <td class="listtd1" width="100">시작시간</td>
		  <td class="listtd1" width="100">시간간격</td>
		  <td class="listtd1" width="100">알람하한</td>
		  <td class="listtd1" width="100">알람상한</td>
		  <td class="listtd1" width="300">비고</td>
		</tr>
	  {% for item in items %}
		<tr onclick="select_content('{{ item.point_id }}{{ item.ymd }}{{ item.start_time|slice:":4" }}')" id="{{ item.uid }}{{ item.ymd }}{{ item.start_time|slice:":4" }}_tr" class="listcontent">
		  <td  align="center">{{item.point_id}}</td>
		  <td  align="center">{{item.ymd|slice:":4"}}/{{item.ymd|slice:"4:6"}}/{{item.ymd|slice:"6:"}}</td>
		  <td  align="center">{{item.start_time|slice:":2"}}:{{item.start_time|slice:"2:4"}}:{{item.start_time|slice:"4:"}}</td>
		  <td  align="center">{{item.interval}}</td>
		  <td  align="center">{{item.ft_alarm.0}}</td>
		  <td  align="center">{{item.ft_alarm.1}}</td>
		  <td>{{item.comment|default:""}}</td>
		</tr>
	  {% endfor %}
	  <tr><td colspan="7" class="listline" ></td></tr>
	</table>
</div>
{% endif %}

<br>

<div class="buttons">
	<input type="button" class="btn_blue_small"   value="Back" onclick="javascript:history.back()">&nbsp;&nbsp;&nbsp;
	<input type="button" class="btn_orange_small" value="개별 그래프" onclick="temper_history('/report/history', check_content)">
</div>

</form>
{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
function temper_history(url, content){
	if(content==0){
		alert(unselected_content);
		return false;
	}
	document.location.href=url + "?history_id=" + content;
}
</script>
{% endblock %}
