{% extends "base.html" %}


{% block contents %}


<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea" class="print">

	<table border="0" cellpadding="0" cellspacing="1" >
		<tr>
			<td class='listtd1' width='80' rowspan="2">{{'year_month'|tr:lang}}</td>
			<td class='listtd1' colspan="3">{{'sales'|tr:lang}}</td>
			<td class='listtd1' colspan="3">{{'customer_cnt'|tr:lang}}</td>
			<td class='listtd1' colspan="3">{{'customer_average'|tr:lang}}</td>
			<td class='listtd1' width='80' rowspan="2">{{'food'|tr:lang}}</td>
			<td class='listtd1' width='80' rowspan="2">{{'drink'|tr:lang}}</td>
			<td class='listtd1' width='80' rowspan="2">{{'money_credit'|tr:lang}}</td>
			<td class='listtd1' width='80' rowspan="2">{{'service_charge'|tr:lang}}</td>
			<td class='listtd1' width='80' rowspan="2">商品券</td>
			<td class='listtd1' width='80' rowspan="2">カード</td>
			<td class='listtd1' width='80' rowspan="2">電子マネー</td>
			<td class='listtd1' width='80' rowspan="2">軽減税対象</td>
		</tr>
		<tr>
			<td class='listtd1' width='80'>{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'previous_results'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'previous_rate'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'customer_cnt'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'previous_results'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'previous_rate'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'customer_average'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'previous_results'|tr:lang}}</td>
			<td class='listtd1' width='60'>{{'previous_rate'|tr:lang}}</td>
		</tr>
	  {% for item in items %}
		<tr class='listcontent'>
			<td class="listtd3">
			  {%if item.uriage > 0 %}
				<a href="/report/month?startDate={{item.month}}">{{item.month}}</a>
			  {%else%}
				{{item.month}}
			  {%endif%}
			</td>
			<td style="text-align:right;">{{item.uriage|money_form}}</td>
			<td style="text-align:right;">{{item.uriage_pre|money_form}}</td>
			<td class='percent_form'>{{item.uriage_pct}}</td>
			<td class='number_form'>{{item.man}}</td>
			<td class='number_form'>{{item.man_pre}}</td>
			<td class='percent_form'>{{item.man_pct}}</td>
			<td style="text-align:right;">{{item.price|money_form}}</td>
			<td style="text-align:right;">{{item.price_pre|money_form}}</td>
			<td class='percent_form'>{{item.price_pct}}</td>
			<td style="text-align:right;">{{item.food|money_form}}</td>
			<td style="text-align:right;">{{item.drink|money_form}}</td>
			<td style="text-align:right;">{{item.money_credit|money_form}}</td>
			<td style="text-align:right;">{{item.service|money_form}}</td>
			<td style="text-align:right;">{{item.money_gift|money_form}}</td>
			<td style="text-align:right;">{{item.credit_card|money_form}}</td>
			<td style="text-align:right;">{{item.emoney|money_form}}</td>
			<td style="text-align:right;">{{item.kg_uriage|money_form}}</td>
		</tr>
	  {% endfor %}
		<tr>
			<td class='listtd1'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.0|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.1|money_form}}</td>
			<td class='listtd3 percent_form'>{{sum.2}}</td>
			<td class='listtd3 number_form'>{{sum.3}}</td>
			<td class='listtd3 number_form'>{{sum.4}}</td>
			<td class='listtd3 percent_form'>{{sum.5}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.6|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.7|money_form}}</td>
			<td class='listtd3 percent_form'>{{sum.8}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.9|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.10|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.11|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.12|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.13|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.14|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.15|money_form}}</td>
			<td class='listtd3' style="text-align:right;">{{sum.16|money_form}}</td>
		</tr>
	</table>
</div>

{% endblock %}

