{% extends "base.html" %}

{% block contents %}

{% if shop.it_setup.12 %}　※税抜き金額{% endif %}

<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea" class="print">

  <ul>
    <li><a href="#tab-credit">{{shop.st_moneytitle.2}}</a></li>
    <li><a href="#tab-emoney">{{shop.st_moneytitle.0}}</a></li>
    <li><a href="#tab-gift">{{shop.st_moneytitle.1}}</a></li>
    <li><a href="#tab-urikake">{{shop.st_moneytitle.3}}</a></li>
  </ul>

  <div id="tab-emoney">
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td colspan="2" class='listtd3' align="center">{{'subtotal'|tr:lang}}</td>
		  {% for item in sum_emoney %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_emoney.0 %}
            <td class='listtd4 number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
		<tr height="35px">
			<td class='listtd1' width='60' rowspan="2">{{'date'|tr:lang}}</td>
			<td class='listtd1' width='40' rowspan="2">{{'day_week'|tr:lang}}</td>
	  {% for item in shop.emoney_card %}
	  	{% if item %}
			<td class='listtd1' colspan="2" >{{item}}</td>
	  	{% endif%}
	  {% endfor %}
		</tr>
		<tr height="35px">
	  {% for item in shop.emoney_card %}
	  	{% if item %}
			<td class='listtd1' width='70'>売上</td>
			<td class='listtd1' width='50'>件数</td>
	  	{% endif%}
	  {% endfor %}
		</tr>
	  {% for items in mon_emoney %}
		<tr class="listcontent {%if items.1 == week_name.5 or items.1 == week_name.6 %}holiday{%endif%}">
			<td class='listtd3'>{{start_date|slice:"4:6"}}/{{items.0}}</td>
			<td class='listtd3'>{{items.1}}</td>
		  {% for item in items %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_emoney.0 %}
	            <td class='number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
	  {% endfor %}
	</table>
  </div>


  <div id="tab-credit">
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td colspan="2" class='listtd3' align="center">{{'subtotal'|tr:lang}}</td>
		  {% for item in sum_card %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_card.0 %}
            <td class='listtd4 number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
		<tr height="35px">
			<td class='listtd1' width='60' rowspan="2">{{'date'|tr:lang}}</td>
			<td class='listtd1' width='40' rowspan="2">{{'day_week'|tr:lang}}</td>
	  {% for item in shop.credit_card %}
	  	{% if item %}
			<td class='listtd1' colspan="2" >{{item}}</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
		<tr height="35px">
	  {% for item in shop.credit_card %}
	  	{% if item %}
			<td class='listtd1' width='70'>売上</td>
			<td class='listtd1' width='50'>件数</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
	  {% for items in mon_card %}
		<tr class="listcontent {%if items.1 == week_name.5 or items.1 == week_name.6 %}holiday{%endif%}">
			<td class='listtd3'>{{start_date|slice:"4:6"}}/{{items.0}}</td>
			<td class='listtd3'>{{items.1}}</td>
		  {% for item in items %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_card.0 %}
	            <td class='number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
	  {% endfor %}
	</table>
  </div>



  <div id="tab-gift">
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td colspan="2" class='listtd3' align="center">{{'subtotal'|tr:lang}}</td>
		  {% for item in sum_gift %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_gift.0 %}
            <td class='listtd4 number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
		<tr height="35px">
			<td class='listtd1' width='60' rowspan="2">{{'date'|tr:lang}}</td>
			<td class='listtd1' width='40' rowspan="2">{{'day_week'|tr:lang}}</td>
	  {% for item in shop.gift_card %}
	  	{% if item %}
			<td class='listtd1' colspan="2" >{{item}}</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
		<tr height="35px">
	  {% for item in shop.gift_card %}
	  	{% if item %}
			<td class='listtd1' width='70'>売上</td>
			<td class='listtd1' width='50'>件数</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
	  {% for items in mon_gift %}
		<tr class="listcontent {%if items.1 == week_name.5 or items.1 == week_name.6 %}holiday{%endif%}">
			<td class='listtd3'>{{start_date|slice:"4:6"}}/{{items.0}}</td>
			<td class='listtd3'>{{items.1}}</td>
		  {% for item in items %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_gift.0 %}
	            <td class='number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
	  {% endfor %}
	</table>
  </div>



  <div id="tab-urikake">
	<table border="0" cellpadding="0" cellspacing="1">
		<tr>
			<td colspan="2" class='listtd3' align="center">{{'subtotal'|tr:lang}}</td>
		  {% for item in sum_urikake %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_urikake.0 %}
            <td class='listtd4 number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
		<tr height="35px">
			<td class='listtd1' width='60' rowspan="2">{{'date'|tr:lang}}</td>
			<td class='listtd1' width='40' rowspan="2">{{'day_week'|tr:lang}}</td>
	  {% for item in shop.urikake_card %}
	  	{% if item %}
			<td class='listtd1' colspan="2" >{{item}}</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
		<tr height="35px">
	  {% for item in shop.urikake_card %}
	  	{% if item %}
			<td class='listtd1' width='70'>売上</td>
			<td class='listtd1' width='50'>件数</td>
	  	{% endif %}
	  {% endfor %}
		</tr>
	  {% for items in mon_urikake %}
		<tr class="listcontent {%if items.1 == week_name.5 or items.1 == week_name.6 %}holiday{%endif%}">
			<td class='listtd3'>{{start_date|slice:"4:6"}}/{{items.0}}</td>
			<td class='listtd3'>{{items.1}}</td>
		  {% for item in items %}
		  	{% if forloop.counter > 2 and forloop.counter <= sum_urikake.0 %}
	            <td class='number_form'>{{item}}</td>
            {% endif %}
		  {% endfor %}
		</tr>
	  {% endfor %}
	</table>
  </div>

</div>


<script type='text/javascript'>
  $('#tabarea').tabs();
</script>

{% endblock %}

