{% extends "base.html" %}

{% block head_javascript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}


{% block contents %}

<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea" class="print">
<div style="clear:both;padding:0 0 10px 0;">
  	<table style="font-size:15px;font-weight:bold;color:blue">
		<tr>
			<td width='80'><a style="color:darkslategray;">{{'total_sales'|tr:lang}}:<a></td>
			<td width='80' align="left">{{total_sum|money_form}}</td>
			<td width='100' align="right"><a style="color:darkslategray;">{{'business_days'|tr:lang}}:</a></td>
			<td class='number_form' align="left" width='60'>{{total_day}}</td>
 			<td width='80' align="right"><a style="color:darkslategray;">{{'day_sales'|tr:lang}}:</a></td>
			<td width='80' align="left">{{ave_uri|money_form}}</td>
			<td width='80' align="right"><a style="color:darkslategray;">{{'day_customer_cnt'|tr:lang}}:</a></td>
			<td class='number_form' align="left" width='60'>{{ave_man}}</td>
			<td width='80' align="right"><a style="color:darkslategray;">{{'customer_average'|tr:lang}}:</a></td>
			<td width='60' align="left">{{ave_cust|money_form}}</td>
		</tr>
	</table>
</div>

  <ul>
    <li><a href="#tab-table">{{'weekly'|tr:lang}}</a></li>
    <li><a href="#tab-graph">{{'weekly'|tr:lang}} ({{'graph'|tr:lang}})</a></li>
    <li><a href="#tab-timetable">{{'timely'|tr:lang}}</a></li>
    <li><a href="#tab-timegraph">{{'timely'|tr:lang}} ({{'graph'|tr:lang}})</a></li>
    <li><a href="#tab-service">{{'coupon'|tr:lang}}{{'class'|tr:lang}}</a></li>
  </ul>

  <div id="tab-table">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='100'>{{'day_week'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'composition_ratio'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'business_days'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'average'|tr:lang}}<br>{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'average'|tr:lang}}<br>{{'customer_cnt'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'customer_average'|tr:lang}}</td>
		</tr>
	  {% for item in weeks %}
		<tr>
			<td class='listtd3'>
				{%cycle week.0 week.1 week.2 week.3 week.4 week.5 week.6 %}
			</td>
			<td class='listtd2' style="text-align:right;">{{item.0|money_form}}</td>
			<td class='listtd2 percent_form'>{{item.1}}</td>
			<td class='listtd2 number_form'>{{item.2}}</td>
			<td class='listtd2' style="text-align:right;">{{item.3|money_form}}</td>
			<td class='listtd2 number_form'>{{item.4}}</td>
			<td class='listtd2' style="text-align:right;">{{item.5|money_form}}</td>
		</tr>
	  {% endfor %}
	</table>
  </div><!-- tab-table -->


  <div id="tab-graph">
	<div id='cate_visual' style='width:980px;height:520px;'></div>
  </div><!-- tab-graph -->


  <div id="tab-timetable">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='100'>{{'time'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'average'|tr:lang}}<br>{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'composition_ratio'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'customer_cnt'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'average'|tr:lang}}<br>{{'customer_cnt'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'composition_ratio'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'customer_average'|tr:lang}}</td>
{% if not shop.regi_version or shop.regi_version > "3.2.5" %}
			<td class='listtd1' width='80'>{{'customer_in_cnt'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'average'|tr:lang}}<br>{{'customer_in_cnt'|tr:lang}}</td>
{%endif%}
		{% if cash_flag %}
			<td class='listtd1' width='80'>現金</td>
			<td class='listtd1' width='80'>カード</td>
			<td class='listtd1' width='80'>その他</td>
		{%endif%}
		</tr>
		  {% for item in times %}
			{% if shop.it_time_area.0 > 1 and shop.it_time_area.1 == item.7 %}
			<tr class='listcontent_sum'>
				<td align="right">{{shop.st_time_name.0}}</td>
				<td align="right">{{part_array1.0|money_form}}</td>
				<td></td>
				<td></td>
				<td class='number_form'>{{part_array1.3}}</td>
				<td></td>
				<td></td>
				<td align="right">{{part_array1.6|money_form}}</td>
{% if not shop.regi_version or shop.regi_version > "3.2.5" %}
				<td class='number_form'>{{part_array1.8}}</td>
				<td></td>
{%endif%}
			{% if cash_flag %}
				<td align="right">{{part_array1.10|money_form}}</td>
				<td align="right">{{part_array1.11|money_form}}</td>
				<td align="right">{{part_array1.12|money_form}}</td>
			{%endif%}
			</tr>
			{%endif%}
			{% if shop.it_time_area.0 == 3 and shop.it_time_area.2 == item.7 %}
			<tr class='listcontent_sum'>
				<td align="right">{{shop.st_time_name.1}}</td>
				<td align="right">{{part_array2.0|money_form}}</td>
				<td></td>
				<td></td>
				<td class='number_form'>{{part_array2.3}}</td>
				<td></td>
				<td></td>
				<td align="right">{{part_array2.6|money_form}}</td>
{% if not shop.regi_version or shop.regi_version > "3.2.5" %}
				<td class='number_form'>{{part_array2.8}}</td>
				<td></td>
{%endif%}
			{% if cash_flag %}
				<td align="right">{{part_array2.10|money_form}}</td>
				<td align="right">{{part_array2.11|money_form}}</td>
				<td align="right">{{part_array2.12|money_form}}</td>
			{%endif%}
			</tr>
			{%endif%}
			<tr class='listcontent'>
				<td align="center">
				  <a href="product_time?start_month={{start_date}}&end_month={{end_date}}&time={{item.7}}">
				  {{item.7}}:00 ~ {{item.7}}:59</a>
				</td>
				<td align="right">{{item.0|money_form}}</td>
				<td align="right">{{item.1|money_form}}</td>
				<td class='percent_form'>{{item.2}}</td>
<!--
				<td align="right" id="money{{item.7}}">{{item.0|money_form}}</td>
				<td class='number_form' id="customer{{item.7}}">{{item.3}}</td>
-->
				<td class='number_form'>{{item.3}}</td>
				<td class='number_form'>{{item.4}}</td>
				<td class='percent_form'>{{item.5}}</td>
				<td align="right">{{item.6|money_form}}</td>
{% if not shop.regi_version or shop.regi_version > "3.2.5" %}
				<td class='number_form'>{{item.8}}</td>
				<td class='number_form'>{{item.9}}</td>
{%endif%}
			{% if cash_flag %}
				<td align="right">{{item.10|money_form}}</td>
				<td align="right">{{item.11|money_form}}</td>
				<td align="right">{{item.12|money_form}}</td>
			{%endif%}
			</tr>
		  {% endfor %}
		  {%if shop.it_time_area.0 > 1 %}
			<tr class='listcontent_sum'>
				<td class='' align="right" width='80'>
				  {%if shop.it_time_area.0 == 2 %}
				    {{shop.st_time_name.1}}
				  {%else%}
				    {{shop.st_time_name.2}}
				  {%endif%}
				</td>
				<td align="right" width='80'>
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.0|money_form}}
				  {%else%}
				    {{part_array3.0|money_form}}
				  {%endif%}
				</td>
				<td></td>
				<td></td>
				<td class='number_form' align="right" width='80'>
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.3}}
				  {%else%}
				    {{part_array3.3}}
				  {%endif%}
				</td>
				<td></td>
				<td></td>
				<td align="right" width='80'>
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.6|money_form}}
				  {%else%}
				    {{part_array3.6|money_form}}
				  {%endif%}
				</td>
{% if not shop.regi_version or shop.regi_version > "3.2.5" %}
				<td class='number_form' align="right" width='80'>
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.8}}
				  {%else%}
				    {{part_array3.8}}
				  {%endif%}
				</td>
				<td></td>
{%endif%}
			{% if cash_flag %}
				<td align="right">
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.10|money_form}}
				  {%else%}
				    {{part_array3.10|money_form}}
				  {%endif%}
				</td>
				<td align="right">
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.11|money_form}}
				  {%else%}
				    {{part_array3.11|money_form}}
				  {%endif%}
				</td>
				<td align="right">
				  {%if shop.it_time_area.0 == 2 %}
				    {{part_array2.12|money_form}}
				  {%else%}
				    {{part_array3.12|money_form}}
				  {%endif%}
				</td>
			{%endif%}
			</tr>
		  {%endif%}
		</table>
  </div><!-- tab-timetable -->


  <div id="tab-timegraph">
	<div id='time_visual' style='width:980px;height:520px;'></div>
  </div><!-- tab-graph -->


  <div id="tab-service">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{'coupon_name'|tr:lang}}</td>
			<td class='listtd1' width='70'>{{'use_conut'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'discount_amount'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'average'|tr:lang}}{{'discount_amount'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'coupon'|tr:lang}}<br>{{'applied_sales'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'coupon'|tr:lang}}<br>{{'average'|tr:lang}}{{'sales'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'sales'|tr:lang}}{{'composition_ratio'|tr:lang}}</td>
		</tr>
	  {% for item in services %}
	  {% if item.6 %}
		<tr>
			<td class='listtd3'>{{item.6}}</td>
			<td class='listtd2 number_form'>{{item.0}}</td>
			<td class='listtd2' style="text-align:right;">{{item.1|money_form}}</td>
			<td class='listtd2' style="text-align:right;">{{item.2|money_form}}</td>
			<td class='listtd2' style="text-align:right;">{{item.3|money_form}}</td>
			<td class='listtd2' style="text-align:right;">{{item.4|money_form}}</td>
			<td class='listtd2 percent_form'>{{item.5}}</td>
		</tr>
	  {%endif%}
	  {% endfor %}
	</table>
  </div><!-- tab-table -->

</div><!-- tabarea -->


<script type="text/javascript">
$('#tabarea').tabs();

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
	var weekday   = new Array("{{week.0}}","{{week.1}}","{{week.2}}","{{week.3}}","{{week.4}}","{{week.5}}","{{week.6}}");

    var data = google.visualization.arrayToDataTable([
      ['X', "{{'sales'|tr:lang}}"],
  {% for item in weeks %}
      [  weekday[{{forloop.counter0}}], {{item.3}}],
  {% endfor %}
    ]);

    var options = {
        title: "{{'weekly'|tr:lang}}{{'average'|tr:lang}}",
        width:900, height:500,
        curveType: 'function'
    };

    var chart = new google.visualization.LineChart(document.getElementById('cate_visual'));
    chart.draw(data, options);
  }


  google.charts.setOnLoadCallback(drawChartTime);

  function drawChartTime() {
    var data = google.visualization.arrayToDataTable([
      ['X', "{{'sales'|tr:lang}}"],
  {% for item in times %}
      [  {{item.7}}, {{item.1}}],
  {% endfor %}
    ]);

    var options = {
        title: "{{'timely'|tr:lang}}{{'average'|tr:lang}}",
        width:900, height:500,
        curveType: 'function'
    };

    var chart = new google.visualization.LineChart(document.getElementById('time_visual'));
    chart.draw(data, options);
  }


/*
function drawVisualizationWeek() {
	var graphdata = new Array();
	var weekday   = new Array("{{week.0}}","{{week.1}}","{{week.2}}","{{week.3}}","{{week.4}}","{{week.5}}","{{week.6}}");
	graphdata[0]  = new Array("", "{{'sales'|tr:lang}}");
	{% for item in weeks %}
		graphdata[{{forloop.counter}}] = new Array();
		graphdata[{{forloop.counter}}][0] = weekday[{{forloop.counter0}}];
		graphdata[{{forloop.counter}}][1] = {{item.3}};
	{% endfor %}

  var data1 = google.visualization.arrayToDataTable(graphdata);
  new google.visualization.LineChart(document.getElementById('cate_visual')).
  draw(data1, {curveType: "function", width:970, height:500, title:"{{'weekly'|tr:lang}}{{'average'|tr:lang}}"});//'曜日別平均売上げ'
}

function drawVisualizationTime() {
	var graphdata = new Array();
	var weekday   = new Array();
	graphdata[0]  = new Array("", "{{'sales'|tr:lang}}");
	{% for item in times %}
	    weekday[{{forloop.counter0}}] = "{{item.7}}";
		graphdata[{{forloop.counter}}] = new Array();
		graphdata[{{forloop.counter}}][0] = weekday[{{forloop.counter0}}];
		//graphdata[{{forloop.counter}}][0] = {{item.7}};
		graphdata[{{forloop.counter}}][1] = {{item.1}};
	{% endfor %}

  var data1 = google.visualization.arrayToDataTable(graphdata);
  new google.visualization.LineChart(document.getElementById('time_visual')).
  draw(data1, {curveType: "function", width:970, height:500, title:"{{'timely'|tr:lang}}{{'average'|tr:lang}}"});
}

drawVisualizationWeek();
drawVisualizationTime();
*/


</script>


{% endblock %}

