{% extends "base.html" %}

{% block head_javascript %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>
{% endblock %}

{% block contents %}
<!--
<div class="buttons">
	<input type="button" class="btn_yellow_small" value="印刷" id="updateContent">
</div>
-->
<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea"  class="print">
<div style="clear:both;padding:0 0 10px 0;">
  	<table style="font-size:15px;font-weight:bold;color:blue">
		<tr>
			<td width='80'><a style="color:darkslategray;">{{'total_sales'|tr:lang}}:&nbsp;<a></td>
			<td align="left" width='80'>{{total_sum|money_form}}</td>
			<td width='160' align="right"><a style="color:darkslategray;">{{shop.st_moneytitle.2}}{{'rate'|tr:lang}}:&nbsp;</a></td>
			<td class='percent_form' align="left" width='60'>{{card_pct}}</td>
			<td width='160' align="right"><a style="color:darkslategray;">{{shop.st_moneytitle.0}}{{'rate'|tr:lang}}:&nbsp;</a></td>
			<td class='percent_form' align="left" width='60'>{{emoney_pct}}</td>
		</tr>
	</table>
</div>

  <ul>
    <li><a href="#tab-credit">{{shop.st_moneytitle.2}}</a></li>
    <li><a href="#tab-emoney">{{shop.st_moneytitle.0}}</a></li>
    <li><a href="#tab-gift">{{shop.st_moneytitle.1}}</a></li>
    <li><a href="#tab-urikake">{{shop.st_moneytitle.3}}</a></li>
  </ul>

  <div id="tab-credit" style="height:400px;">
    <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'average_once'|tr:lang}}</td>
		</tr>
	  {% for item in card_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
			<td align="right">{{item.3|money_form}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{card_sum.0|money_form}}</td>
			<td class='listtd3 number_form' align="right">{{card_sum.1}}</td>
			<td class='listtd3' style="text-align:right;">{{card_sum.2|money_form}}</td>
		</tr>
	</table>
	</div>

	<div style="float:left;">
		<div id='chart_div' style='width:400px;height:330px;'></div>
	</div>
  </div><!-- tab-credit -->

  <div id="tab-emoney" style="height:400px;">
    <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'average_once'|tr:lang}}</td>
		</tr>
	  {% for item in emoney_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
			<td align="right">{{item.3|money_form}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{emoney_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{emoney_sum.1}}</td>
			<td class='listtd3' style="text-align:right;">{{emoney_sum.2|money_form}}</td>
		</tr>
	</table>
	</div>

	<div style="float:left;">
		<div id='chart_emoney' style='width:400px;height:330px;'></div>
	</div>
  </div><!-- tab-emoney -->



  <div id="tab-gift" style="height:400px;">
    <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'average_once'|tr:lang}}</td>
		</tr>
	  {% for item in gift_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
			<td align="right">{{item.3|money_form}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{gift_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{gift_sum.1}}</td>
			<td class='listtd3' style="text-align:right;">{{gift_sum.2|money_form}}</td>
		</tr>
	</table>
	</div>

	<div style="float:left;">
		<div id='chart_gift' style='width:400px;height:330px;'></div>
	</div>
  </div><!-- tab-gift -->


  <div id="tab-urikake" style="height:400px;">
    <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'average_once'|tr:lang}}</td>
		</tr>
	  {% for item in urikake_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
			<td align="right">{{item.3|money_form}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{urikake_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{urikake_sum.1}}</td>
			<td class='listtd3' style="text-align:right;">{{urikake_sum.2|money_form}}</td>
		</tr>
	</table>
	</div>

	<div style="float:left;">
		<div id='chart_urikake' style='width:400px;height:330px;'></div>
	</div>
  </div><!-- tab-urikake -->

</div><!-- "tabarea" -->

<input type="button" class="btn_blue_small" value="月間明細" onclick="location.href='/report/paymonthly'">


<script type='text/javascript'>
  $('#tabarea').tabs();

  function drawChartCard() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'card');
    data.addColumn('number', 'uriage');
    data.addRows([
	  {% for item in card_items %}
	  	{%if forloop.last %}
	      ['{{item.0}}', {{item.1}}]
	    {% else %}
	      ['{{item.0}}', {{item.1}}],
	    {% endif %}
	  {% endfor %}
    ]);

    // Set chart options
    var options = {'title':"{{shop.st_moneytitle.2}}  {{'settlement_amount'|tr:lang}} {{'rate'|tr:lang}}",
                   'width':400,
                   'height':330};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }

  function drawChartEmoney() {
    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'card');
    data.addColumn('number', 'uriage');
    data.addRows([
	  {% for item in emoney_items %}
	  	{%if forloop.last %}
	      ['{{item.0}}', {{item.1}}]
	    {% else %}
	      ['{{item.0}}', {{item.1}}],
	    {% endif %}
	  {% endfor %}
    ]);

    // Set chart options
    var options = {'title':"{{shop.st_moneytitle.0}} {{'settlement_amount'|tr:lang}} {{'rate'|tr:lang}}",
                   'width':400,
                   'height':330};
    var chart = new google.visualization.PieChart(document.getElementById('chart_emoney'));
    chart.draw(data, options);
  }

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChartCard);
  google.setOnLoadCallback(drawChartEmoney);
</script>

{% endblock %}

