{% extends "base.html" %}


{% block contents %}


	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' rowspan=2 width='70'>POINT ID</td>
			<td class='listtd1' rowspan=2 width='150'>POINT名称</td>
			<td class='listtd1' rowspan=2 width='120'>正常範囲</td>
			<td class='listtd1' colspan=3>分析温度</td>
			<td class='listtd1' colspan=3>収集データ</td>
			<td class='listtd1' colspan=3>アラムデータ</td>
			<td class='listtd1' rowspan=2 width='80'>詳細</td>
			<td class='listtd1' rowspan=2 width='80'>テスト<br>データ生成</td>
		</tr>
		<tr >
			<td class='listtd1' width='60'>平均</td>
			<td class='listtd1' width='60'>MIN</td>
			<td class='listtd1' width='60'>MAX</td>
			<td class='listtd1' width='80'>件数</td>
			<td class='listtd1' width='80'>最初時刻</td>
			<td class='listtd1' width='80'>最後時刻</td>
			<td class='listtd1' width='80'>件数</td>
			<td class='listtd1' width='80'>最初時刻</td>
			<td class='listtd1' width='80'>最後時刻</td>
		</tr>
	  {% for item in items %}
		<tr class='listcontent' style="text-align:center;">
		{% if item.3 > 0 %}
			<td><a href="point_day?startDate={{start_date}}&point_id={{item.0}}">{{item.0}}</a></td>
		{% else %}
			<td>{{item.0}}</td>
		{% endif %}
			<td style="text-align:left;">{{item.1}}</td>
			<td>{{item.2}}</td>
		{% if item.3 > 0 %}
			<td>{{item.9}}</td>
			<td style="color:red;">{{item.11}}</td>
			<td style="color:red;">{{item.10}}</td>
			<td class="number_form">{{item.3}}</td>
			<td>{{item.4|slice:'0:2'}}:{{item.4|slice:'2:4'}}:{{item.4|slice:'4:6'}}</td>
			<td>{{item.5|slice:'0:2'}}:{{item.5|slice:'2:4'}}:{{item.5|slice:'4:6'}}</td>
		  {% if item.6 > 0 %}
			<td class="number_form" style="color:red;">{{item.6}}</td>
			<td style="color:red;">{{item.7|slice:'0:2'}}:{{item.7|slice:'2:4'}}:{{item.7|slice:'4:6'}}</td>
			<td style="color:red;">{{item.8|slice:'0:2'}}:{{item.8|slice:'2:4'}}:{{item.8|slice:'4:6'}}</td>
		  {% else %}
			<td class="number_form">{{item.6}}</td>
			<td></td>
			<td></td>
		  {% endif %}
			<td><a href="point_day?startDate={{start_date}}&point_id={{item.0}}">詳細</a></td>
			<td></td>
		{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><a href="/sysadmin/maketlog?shop_id={{shop_id}}&point_id={{item.0}}&ymd={{start_date|slice:"2:"}}">TEST-DATA生成</a></td>
		{% endif %}
		</tr>
	  {% endfor %}
	</table>
  
{% endblock %}

