{% extends "base.html" %}

{% block head_javascript %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  google.load('visualization', '1.0', {'packages':['table']});
</script>
{% endblock %}


{% block contents %}
{% if shop.it_setup.12 %}　※税抜き金額<br>{%endif%}

<div id="mask"></div>
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}" class="ajax_datas">
<input type="hidden" name="target_name" id="target_name" value="abc"         class="ajax_datas">


<div  class="print">
<table style="border:2px solid #006400;">

	<tr>
		<td colspan="2" style="width:360px;">
		FROM:<input type="text" name="startDate" id="startDate" size="10"  readonly="readonly" />
		～
		TO:  <input type="text" name="endDate"   id="endDate"   size="10"  readonly="readonly" />
		    <div class="errordiv" id="period_id_error"></div>
		</td>
		<td colspan="2"  style="width:360px;" align="center">
		   <input type="checkbox" name="all_sect" id="all_sect" value="1"><b>{{'all_section'|tr:lang}}</b>&nbsp;
		   <input type="button" class="btn_blue_small" value="{{'btn_all_check'|tr:lang}}" id="all_check_button">
		   <input type="button" class="btn_blue_small" value="{{'btn_all_clear'|tr:lang}}" id="all_clear_button">
		</td>
		<td colspan="2"  style="width:360px;" align="right">
		   {{'abc_percent'|tr:lang}}&nbsp;&nbsp;
		   <input type="button" class="btn_orange_mid" value="{{'btn_abc'|tr:lang}}" id="ajax_abc">
		</td>
	</tr>
<!--
 {%if loginData.shop_user.role_flag > 1 and groups %}
  	<tr>
		<td colspan="6">{{'group_select'|tr:lang}} :&nbsp;
			<select name="sel_group_id" id="sel_group_id"  class="ajax_datas">
			    <option value="0">---</option>
			{% for meisai in groups %}
			    <option value="{{forloop.counter}}">{{meisai}}</option>
			{% endfor %}
		    </select>
		</td>
	</tr>
  {%else%}
	<input type="hidden" name="sel_group_id" id="sel_group_id"  value="0">
  {%endif%}
-->

  	<tr>
  {% for item in sections %}
	{% if not item.flag_del %}
  		<td style="width:180px;overflow:hidden">
  		  <input type="checkbox" class="check_section_name" name="sect_id" id="sect_id_{{forloop.counter}}" value="{{ item.sect_id }}">
  		  {{ item.kname }}
  		</td>
  		{% cycle '' '' '' '' '' '</tr><tr>' %}
	{%endif%}
  {% endfor %}
	</tr>
	<tr>
		<td colspan="6">
		    <div class="errordiv" id="sect_id_error"></div>
		</td>
	</tr>
</table>
<br>

<div id='total_div'></div>
<div id='table_div'></div>
</div><!-- main -->

<!--
<br>
　　<font color="red">■■■　お知らせ　■■■■<br><br>

大変ご迷惑をおかけ致します。<br>
現在、ABC分析がサーバの異常で正常動作できません。<br>
復旧作業中ですので、いましばらくお待ちください。</font>
<br>
-->

<script type="text/javascript">
section_id = new Array();


function ajaxLinuxCall(target, msgJson, callback){
	url = "{{mysqlsvr}}abc.php";
	//dataType = 'jsonp';
	data = {
        "msg":msgJson,
        "master":target
	};
    $.post(url, data, callback).fail(function() { alert("Ajax Error."); });
}

$(function(){
	$("#ajax_abc").click(function(){
		//期間チェック
		$('#period_id_error').html("");
		$('#sect_id_error').html("");

		var startDateStr = $('#startDate').val();
		var endDateStr = $('#endDate').val();

		$('#period_id_error').html("");
		if( startDateStr == "" || startDateStr > endDateStr){
			$('#period_id_error').html("<div class='errorMsg'>Error!! Check Date</div>");
			return false;
		}

		var date1 = new Date(startDateStr);
		var date2 = new Date(endDateStr);
		var msDiff = date2.getTime() - date1.getTime();
		var daysDiff = Math.floor(msDiff / (1000 * 60 * 60 *24));
		if( daysDiff > 190) {
			$('#period_id_error').html("<div class='errorMsg'>Error!! Can't over 190day !!!</div>");
			//alert("Can't over 60day !!! ");
			return false;
		}

		//チェックボックスのチェック
		section_id = new Array();
		if($("#all_sect").is(":checked")){
			$('#sect_id_error').html("");
		} else {
			if($(".check_section_name").is(":checked")){
				$(":checkbox").each(function(){
					if( $(this).attr("checked") ){
						//alert($(this).val());
						len = section_id.length;
						section_id[len] = $(this).val();
					}
				});
				$('#sect_id_error').html("");
			} else {
				$('#sect_id_error').html("<div class='errorMsg'>{{'required_input'|tr:lang}}</div>");
			}
			if(section_id.length > 30) {
				//datastore error
				//Cannot satisfy query -- too many subqueries (max: 30).
				//Probable cause: too many IN/!= filters in query.
				$('#sect_id_error').html("<div class='errorMsg'>Error!! {{'abc_select'|tr:lang}}</div>");
				return false;
			}
		}
		//エラーが表示されていたら送信しない
		if($('div').hasClass('errorMsg') == true){
			return false;
		}

		var arrJson  = new Array();
		arrJson.push("shop_id");
		arrJson.push("target_name");
		arrJson.push("startDate");
		arrJson.push("endDate");
		arrJson.push("sel_group_id");
		var jsontext = string_json(arrJson);

		var newtext = jsontext.substr(0,jsontext.length -1);
		//alert(newtext);

		if($("#all_sect").is(":checked")){
			newtext += ",'all_sect':1}";
		} else {
			newtext += ",'sect_id':[";
			for(i=0; i<section_id.length-1; i++){
				newtext += "'" + section_id[i] + "',";
			}
			newtext +=  "'" + section_id[i] +"']}";
		}
		ajaxCall($("#target_name").val(), newtext, callback);
    });
});


	plulist  = new Array();
	tot_count    = 0;
	total_uriage = 0;
	total_arari  = 0;


	var callback = function(json){
		if (json.result != 0) {
			alert("ajax error");
			return;
		}

		plulist      = json.items;
		total_count  = json.total_count;
		total_uriage = json.total_uriage;
		total_arari  = json.total_arari;
		//alert("ajax drawTable");
	    drawTable();
		//alert("ajax drawTable after");
		if (json.total_count != 0) {
			$("#csvdownload").prop('disabled', false);
			$("#csvdownload").removeClass("btn_small_unuse").addClass("btn_blue_small");

			setTimeout("CsvDownloadDisable()", 55000);
		}

		$('#total_div').html("<span style='font-weight : bold;color : blue'>"
			+ "{{'total_sales'|tr:lang}} : "  + number_format(total_uriage, 1)
			+ "　　　{{'sales_cnt'|tr:lang}} : " + number_format(total_count, 0)
			+ "　　　{{'gross_margin'|tr:lang}} : " + number_format(total_arari, 1)
			+ "</span><br><br>");
		return;
	}


  function drawTable() {
	//alert(plulist.length);
    var data = new google.visualization.DataTable();
    data.addColumn('string', "{{'product'|tr:lang}}{{'code'|tr:lang}}");
    data.addColumn('string', "{{'product_name'|tr:lang}}");
    data.addColumn('number', "{{'sales'|tr:lang}}");
    data.addColumn('number', "{{'rate'|tr:lang}}");
    data.addColumn('string', "{{'level'|tr:lang}}");
    data.addColumn('number', "{{'output_cnt'|tr:lang}}");
    data.addColumn('number', "{{'rate'|tr:lang}}");
    data.addColumn('string', "{{'level'|tr:lang}}");
    data.addColumn('number', "{{'gross_margin'|tr:lang}}");
    data.addColumn('number', "{{'rate'|tr:lang}}");
    data.addColumn('string', "{{'level'|tr:lang}}");
	var sort_flag   = [4,5,6];
    var total_array = [total_count, total_uriage, total_arari];
	for(var k=0; k<3; k++) {
	    var idx   = sort_flag[k];
	    var total = total_array[k];
		plulist.sort(function (a1, a2) {
		    return (a1[idx]>a2[idx]) ? -1 : ((a1[idx]<a2[idx]) ? 1 : 0);
		});
		//
		var ratio_accumulate=0;
		var ratio = 0.0;
		var grade = "";
	    for(var i=0; i< plulist.length; i++) {
			if( total > 0 ) {
		    	ratio = Math.floor(plulist[i][idx]*1000/total)/10;
			}
		    if(ratio_accumulate < 20){
				grade=" A";
			}else if(ratio_accumulate < 80){
				grade=" B";
			}else {//if(ratio_accumulate < abc[0]+abc[1]+abc[2]){
				grade=" C";
			}
			ratio_accumulate += ratio;
	    	plulist[i][idx+3] = grade;
	    }
	}


   	var rowlist = new Array();
    for(var i=0; i< plulist.length; i++) {
       	var uriage_pct = 0;
       	var count_pct  = 0;
       	var arari_pct  = 0;
		if (plulist[i][5] > 0) {
	    	uriage_pct = Math.floor(plulist[i][5]*1000/total_uriage)/10;
		}
		if (plulist[i][5] > 0) {
	        count_pct  = Math.floor(plulist[i][4]*1000/total_count)/10;
		}
		if (plulist[i][5] > 0) {
            arari_pct  = Math.floor(plulist[i][6]*1000/total_arari)/10;
		}
    	tmp = new Array();
    	tmp[0] = plulist[i][0];
    	tmp[1] = plulist[i][1];
    	tmp[2] = {v: plulist[i][5], f: number_format(String(plulist[i][5]),0)  };
    	tmp[3] = {v: uriage_pct, f: number_format(String(uriage_pct),2) };
    	tmp[4] = plulist[i][8]; //売上げ
    	//
    	tmp[5] = {v: plulist[i][4], f: number_format(String(plulist[i][4]),0)   };
    	tmp[6] = {v: count_pct, f: number_format(String(count_pct),2) };
    	tmp[7] = plulist[i][7]; //販売数量
    	//
    	tmp[8] = {v: plulist[i][6], f: number_format(String(plulist[i][6]),0)  };
    	tmp[9] = {v: arari_pct, f: number_format(String(arari_pct),2) };
    	tmp[10] = plulist[i][9]; //粗利利益
    	rowlist[i] = tmp;
    }
   	data.addRows(rowlist);

    var table = new google.visualization.Table(document.getElementById('table_div'));
    table.draw(data, {showRowNumber: true});
  }


$(function() {
	var date_format='yy/mm/dd'
    $('#startDate').datepicker({
        dateFormat: date_format,
        changeMonth: true,
	    changeYear: true,
	    minDate:  '{{mindate}}',
	    maxDate: 0,
        //showOn: 'button',
        monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"],
    });
    $('#endDate').datepicker({
        dateFormat: date_format,
        changeMonth: true,
	    changeYear: true,
	    minDate:  '{{mindate}}',
	    maxDate: 0,
        //showOn: 'button',
        monthNamesShort: ["1","2","3","4","5","6","7","8","9","10","11","12"],
    });
	startDate = new Date( {{start_date|slice:'0:4'}}, {{start_date|slice:'4:6'}}-1, {{start_date|slice:'6:8'|default:'01'}});
	endDate   = new Date( {{end_date|slice:'0:4'}},   {{end_date|slice:'4:6'}}-1,   {{end_date|slice:'6:8'|default:'01'}});
    $('#startDate').ympicker('setDate', startDate);
    $('#endDate').ympicker('setDate', endDate);
});


$("#all_check_button").click(function(){
    $("input:checkbox[name='sect_id']").prop({'checked':'checked'});
});
$("#all_clear_button").click(function(){
    $("input:checkbox[name='sect_id']").prop({'checked':false});
});
$('#startDate').change(function() {
     $('#endDate').val($('#startDate').val());
});
//$('#startDate').change(function() {
//     $('#startDate').val());
//});

</script>
{% endblock %}
