{% extends "base.html" %}

{% block head_javascript %}
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});
</script>
{% endblock %}

{% block contents %}
<!--
<div class="buttons">
	<input type="button" class="btn_yellow_small" value="印刷" id="updateContent">
</div>
-->
<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea"  class="print">
<div style="clear:both;padding:0 0 10px 0;">
  	<table style="font-size:15px;font-weight:bold;color:blue">
		<tr>
			<td width='80'><a style="color:darkslategray;">{{'total_sales'|tr:lang}}:&nbsp;<a></td>
			<td align="left" width='80'>{{total_sum|money_form}}</td>
		</tr>
	</table>
</div>


<div>
  <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{shop.st_moneytitle.2}}{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
		</tr>
	  {% for item in card_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{card_sum.0|money_form}}</td>
			<td class='listtd3 number_form' align="right">{{card_sum.1}}</td>
		</tr>
	</table>
  </div>
　　
  <div style="float:left;padding-left:20px;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{shop.st_moneytitle.0}}{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
		</tr>
	  {% for item in emoney_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{emoney_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{emoney_sum.1}}</td>
		</tr>
	</table>
</div>

{% if gift_items or urikake_items %}
<br>
<div  style="clear:both;padding-top:20px;">
  <div style="float:left;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{shop.st_moneytitle.1}}{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
		</tr>
	  {% for item in gift_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{gift_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{gift_sum.1}}</td>
		</tr>
	</table>
  </div>
　　
  <div style="float:left;padding-left:20px;">
	<table border="0" cellpadding="0" cellspacing="1" >
		<tr >
			<td class='listtd1' width='200'>{{shop.st_moneytitle.3}}{{'category'|tr:lang}}</td>
			<td class='listtd1' width='100'>{{'settlement_amount'|tr:lang}}</td>
			<td class='listtd1' width='80'>{{'item_cnt'|tr:lang}}</td>
		</tr>
	  {% for item in urikake_items %}
		<tr class='listcontent'>
			<td>{{item.0}}</td>
			<td align="right">{{item.1|money_form}}</td>
			<td class='number_form'>{{item.2}}</td>
		</tr>
	  {% endfor %}
		<tr >
			<td class='listtd3'>{{'total'|tr:lang}}</td>
			<td class='listtd3' style="text-align:right;">{{urikake_sum.0|money_form}}</td>
			<td class='listtd3 number_form'>{{urikake_sum.1}}</td>
		</tr>
	</table>
  </div>
</div>
{% endif %}


<script type='text/javascript'>
</script>

{% endblock %}

