{% extends "base.html" %}


{% block contents %}


<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabarea" class="print">
	<div>
	POINT ID: {{obj_point.point_id}} , POINT名称 : {{obj_point.kname}} , 正常範囲 : {{limit_dn}} ~ {{limit_up}}
	<table border="0" cellpadding="0" cellspacing="1">
		<tr height="35px">
			<td class='listtd1' rowspan=2 width='60'>{{'date'|tr:lang}}</td>
			<td class='listtd1' rowspan=2 width='40'>{{'day_week'|tr:lang}}</td>
			<td class='listtd1' colspan=3>分析温度</td>
			<td class='listtd1' colspan=3>収集データ</td>
			<td class='listtd1' colspan=3>アラムデータ</td>
			<td class='listtd1' rowspan=2 width='80'>詳細</td>
		</tr>
		<tr >
			<td class='listtd1' width='60'>平均</td>
			<td class='listtd1' width='60'>MIN</td>
			<td class='listtd1' width='60'>MAX</td>
			<td class='listtd1' width='80'>件数</td>
			<td class='listtd1' width='80'>最初時刻</td>
			<td class='listtd1' width='80'>最後時刻</td>
			<td class='listtd1' width='80'>件数</td>
			<td class='listtd1' width='80'>最初時刻</td>
			<td class='listtd1' width='80'>最後時刻</td>
		</tr>
		</tr>
	  {% for item in items %}
		<tr class="listcontent {% if item.1 == week_name.5 or item.1 == week_name.6 %}holiday{% endif %}" style="text-align:center;">
			<td class='listtd3'>
			    {{start_date|slice:"4:6"}}/{{item.0}}
			</td>
			<td class='listtd3'>{{item.1}}</td>

		{% if item.3 > 0 %}
			<td>{{item.9}}</td>
			<td style="color:red;">{{item.11}}</td>
			<td style="color:red;">{{item.10}}</td>
			<td class="number_form">{{item.3}}</td>
			<td>{{item.4|slice:'0:2'}}:{{item.4|slice:'2:4'}}:{{item.4|slice:'4:6'}}</td>
			<td>{{item.5|slice:'0:2'}}:{{item.5|slice:'2:4'}}:{{item.5|slice:'4:6'}}</td>
		  {% if item.6 > 0 %}
			<td class="number_form" style="color:red;">{{item.6}}</td>
			<td style="color:red;">{{item.7|slice:'0:2'}}:{{item.7|slice:'2:4'}}:{{item.7|slice:'4:6'}}</td>
			<td style="color:red;">{{item.8|slice:'0:2'}}:{{item.8|slice:'2:4'}}:{{item.8|slice:'4:6'}}</td>
		  {% else %}
			<td class="number_form">{{item.6}}</td>
			<td></td>
			<td></td>
		  {% endif %}
			<td><a href="point_day?startDate={{start_date}}{{item.0}}&point_id={{point_id}}">詳細</a></td>
		{% else %}
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		{% endif %}
		</tr>
	  {% endfor %}
	</table>
    </div>

{% endblock %}

