{% extends "base.html" %}

{% block contents %}
<form method="POST" id="common">

<input type="hidden" name="shop_id" value="{{ shop_id }}" />
※１店舗毎に最大５つのアルバイトのアカウントが管理できます。<br>
<table>
<tr>
	<td width=150 class="listtd1">アカウント</td>
	<td width=120 class="listtd1">役割</td>
	<td width=120 class="listtd1">編集権限</td>
</tr>

{% for meisai in userlist %}
<tr onclick="select_content_local('{{ meisai.email_id }}')" id="{{ meisai.email_id }}_tr" class="listcontent">
  <td align="left">{{ meisai.email_id }}</td>
  <td align="center">
  	{%if meisai.role_flag == 1 %}店長
  	{%else%}
	  	{%if meisai.role_flag == 9 %}会社管理者
	  	{%else%}
		  	{%if meisai.role_flag == 0 %}アルバイト
		  	{%else%}{{ meisai.role_flag }}：その他
			{%endif%}
		 {%endif%}
	 {%endif%}
  </td>
  <td align="center">
  	{%if meisai.disabl_edit == 1 %}無し{%else%}有り{%endif%}
  </td>
</tr>
{% endfor %}

<tr><td colspan="7" class="listline" ></td></tr>
<tr height="10px"></tr>

<tr>
  <td align="center">
	<input type="text" name="account_id" id="account_id" class="validate required">
   	<div class="errordiv" id="account_id_error"></div>
  </td>
  <td align="center">アルバイト
	<input type="hidden" name="role_flag" id="role_flag" value="0">
	<input type="hidden" name="role_flag" id="role_flag" value="0">
  </td>
  <td align="center">
	<select name="disabl_edit" id="disabl_edit">
	    <option value="0">有り</option>
	    <option value="1">無し</option>
	</select>
  </td>
</tr>

</table>


<input type="hidden" name="del_account" id="del_account">
<br><br>
<input type="submit" name="update_account" class="btn_orange_small" value="アカウント修正" style="width:120px;" onclick="update_content(check_content)">
<input type="submit" name="append_account" id="append_account" class="btn_orange_small" value="アカウント追加" style="width:120px;">
<input type="submit" name="delete_account" class="btn_red_small"    value="アカウント削除" style="width:120px;" onclick="delete_content(check_content)">


</form>


<script type="text/javascript">

	var userArray = new Array();
	var arbit_cnt = 0;

{% for meisai in userlist %}
	var tempArray = new Array();
	tempArray[0] = "{{meisai.email_id}}";
	tempArray[1] = "{{meisai.shop_id}}";
	tempArray[2] = "{{meisai.role_flag}}";
	tempArray[3] = "{{meisai.regi_no}}";
	tempArray[4] = "{{meisai.regi_type}}";
	tempArray[5] = "{{meisai.disabl_edit}}";
	userArray[{{forloop.counter0}}] = tempArray;

    if( tempArray[2] == "0" ) {
        arbit_cnt = arbit_cnt + 1;
    }
{%endfor%}

    if( arbit_cnt > 4 ) {
		$("#append_account").attr("disabled", "disabled");
		$("#append_account").removeClass("btn_orange_small");
		$("#append_account").addClass("btn_small_unuse");
    }


	function delete_content(content){
		if(content==0){
			alert(unselected_content);
			return false;
		}
		if (confirm(checkDelete)) {
			$('#del_account').val(content);
			return true;
		}
		return false;
	}

	function update_content(content){
		if(content==0){
			alert(unselected_content);
			return false;
		}
		if (confirm(checkUpdate)) {
			return true;
		}
		return false;
	}

	function select_content_local(num){

		for(k=0;k<userArray.length;k++) {
			if( userArray[k][0] == num) {
				if( userArray[k][2] > 0 ) {
					//alert("アルバイト権限のみ修正可能です。");
					return true;
				}
				$("#account_id").val( userArray[k][0]);
				$("#role_flag").val(  userArray[k][2]);
				$("#regi_no").val(    userArray[k][3]);
				$("#regi_type").val(  userArray[k][4]);
				$("#disabl_edit").val(userArray[k][5]);
				select_content(num);
			    break;
		    }
		}
	}
</script>


{% endblock %}
