{% extends "base.html" %}

{% block contents %}
<div id="mask"></div>
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}" class="ajax_datas">
<input type="hidden" name="target_name" id="target_name" value="shop"        class="ajax_datas"><!-- "/ajax/shop" -->
<input type="hidden" name="mode"        id="mode"        value=""            class="ajax_datas">
<input type="hidden" name="content_id"  id="content_id"  value=""            class="ajax_datas">


<div id="insert_ajax_div">
	<div id="insert_title">{{title}} 新規／修正</div>

	<div style="clear:both;">
		<div class="insert_column">店舗名</div>
		<div class="insert_text"><input type="text" class="input_text_m ajax_datas inputarea" name="shop_name" id="shop_name"></div>
	</div>
	<div style="clear:both;">
		<div class="insert_column">Mail_ID</div>
		<div class="insert_text"><input type="text" class="input_text_m ajax_datas inputarea" name="admin_id" id="admin_id">@gmail.com</div>
	</div>

	<div id="insert_buttons">
		<div class="insert_button"><input type="button" value="入力"    class="btn_blue_small" id="ajax_submit" ></div>
		<div class="cancel_button"><input type="button" value="キャンセル" class="btn_blue_small" id="ajax_cancel"></div>
	</div>
</div>


<div class="content_list">
	<div class="listTop">
		<div class="listtopcolumn" style="float:left;width:100px;text-align:center;">店舗コード</div>
		<div class="listtopcolumn" style="float:left;width:200px;text-align:center;">店舗名</div>
		<div class="listtopcolumn" style="float:left;width:200px;text-align:center;">管理者アカウント</div>
		<div class="listtopcolumn" style="float:left;width:100px;text-align:center;">詳細設定</div>
	</div>
  {% for item in shops %}
	<div class="content_item">
		<div class="listcolumn" style="float:left;width:100px;text-align:center;">{{ item.shop_id }}</div>
		<div class="listcolumn" style="float:left;width:200px;text-align:left;">{{ item.kname }}</div>
		<div class="listcolumn" style="float:left;width:200px;text-align:left;">{{ item.admin_id|default:"" }}</div>
		<div class="listcolumn" style="float:left;width:100px;text-align:center;"><a href="/setup/shopedit?sel_shop_id={{ item.shop_id }}">詳細設定</a></div>
		<input type="hidden" name="item_id" id="item_id" value="{{ item.shop_id }}">
		<input type="hidden" name="item_1"  id="item_1"  value="{{ item.kname }}">
	</div>
  {% endfor %}
</div>

<div class="buttons">
	<input type="button" class="btn_blue_small"   value="戻る" onclick="javascript:history.back()">
	<input type="button" class="btn_orange_small" value="新規" id="insertNew">
	<input type="button" class="btn_orange_small" value="削除" id="deleteContent">
</div>


<script type="text/javascript">
<!--
var callback = function(json){
	var resultData = json.data;
	if (json.result==0) {
		if($("#mode").val()=="insert"){
			$(".content_list").append("<div class='content_item'>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'>"  +resultData[0][0]+"</div>"+
				"<div class='listcolumn' style='float:left;width:200px;text-align:left;'>"    +resultData[0][1]+"</div>"+
				"<div class='listcolumn' style='float:left;width:200px;text-align:left;'></div>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'><a href='/setup/shopedit?sel_shop_id=" + resultData[0][0] + "'>詳細設定</a></div>"+
				"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0][0]+"'>" +
				"<input type='hidden' name='item_1'  id='item_1'  value='"+resultData[0][1]+"'>" +
			"</div>");
			$("#shop_name").val("");
			$("#insert_ajax_div").hide();
			disableMask();
		}else if($("#mode").val()=="update"){
			$("#shop_name").val("");
			$("#insert_ajax_div").hide();
			$(".content_item_selected").html(
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'>"  +resultData[0][0]+"</div>"+
				"<div class='listcolumn' style='float:left;width:200px;text-align:left;'>"    +resultData[0][1]+"</div>"+
				"<div class='listcolumn' style='float:left;width:200px;text-align:left;'></div>"+
				"<div class='listcolumn' style='float:left;width:100px;text-align:center;'><a href='/setup/shopedit?sel_shop_id=" + resultData[0][0] + "'>詳細設定</a></div>"+
				"<input type='hidden' name='item_id' id='item_id' value='"+resultData[0][0]+"'>" +
				"<input type='hidden' name='item_1'  id='item_2'  value='"+resultData[0][1]+"'>");
			disableMask();
		}else if($("#mode").val()=="delete"){
			$(".content_item_selected").remove();
		}

	}else {
		alert("ajax error");
	}
}
//-->
</script>
{% endblock %}
