{% extends "base.html" %}

{% block head_javascript %}
<style type="text/css">
<!--
.listtd2 {text-align:left;}
-->
</style>
{% endblock %}


{% block contents %}
<form method="post" id="common">
<input type="hidden" name="shop_id" id="shop_id" value="{{shop_id}}">

<div style="clear:both;font-family:sans-serif;font-size:13px;" id="tabdiv" >

	<table>
	  <tr>
	    <td class="listtd1" width="160px">{{'shop'|tr:lang}}{{'number'|tr:lang}}</td>
	    <td class="listtd2" width="450px">{{shop.shop_id}}</td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'shop'|tr:lang}}{{'name'|tr:lang}}</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_m" name="shop_base" id="shop_name" value="{{shop.kname|default:''}}" maxlength="20">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'zip_code'|tr:lang}}</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_s" name="shop_base" id="zipcode" value="{{shop.zipcode|default:''}}" maxlength="8">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'address'|tr:lang}}_1</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_l" name="shop_base" id="address1" value="{{shop.address1|default:''}}" maxlength="30">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'address'|tr:lang}}_2</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_l" name="shop_base" id="address2" value="{{shop.address2|default:''}}" maxlength="30">
	    	<input type="hidden" name="shop_base" value="">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">TEL No.</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_m" name="shop_base" id="telno" value="{{shop.telno|default:''}}" maxlength="15">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">FAX No.</td>
	    <td class="listtd2">
	    	<input type="text" class="input_text_m" name="shop_base" id="faxno" value="{{shop.faxno|default:''}}" maxlength="15">
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">Mail_ID</td>
	    <td class="listtd2">
	    	{{shop.admin_id|default:''}}@gmail.com
	    	<input type="hidden"  name="shop_base" value="{{shop.admin_id|default:''}}" >
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'applied_tax'|tr:lang}}</td>
	    <td class="listtd2">
			<select name="shop_base" id="tax_id">
			  {% for tex in taxs%}
				<option value="{{tex.tax_id}}" {%if shop.etc_taxcode == tex.tax_id %}selected{%endif%}>{{tex.tax_name}}</option>
			  {% endfor %}
				<option value="4" {%if shop.etc_taxcode == "4" %}selected{%endif%}>外税を内税に変換</option><!-- only japan -->
			</select></br>
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'discount_fraction'|tr:lang}}</td>
	    <td class="listtd2">
			<select name="shop_base" id="hasu">
				<option value="0" {%if shop.hasu_kbn == 0 %}selected{%endif%}>---</option>
				<option value="1" {%if shop.hasu_kbn == 1 %}selected{%endif%}>{{ 1|money_form}} {{'unit'|tr:lang}}</option>
				<option value="10" {%if shop.hasu_kbn == 10 %}selected{%endif%}>{{ 10|money_form}} {{'unit'|tr:lang}}</option>
				<option value="100" {%if shop.hasu_kbn == 100 %}selected{%endif%}>{{ 100|money_form}} {{'unit'|tr:lang}}</option>
			</select>
	    </td>
	  </tr>
	  <tr>
	    <td class="listtd1">{{'cashier_login'|tr:lang}}</td>
	    <td class="listtd2">
			<select name="shop_base" id="pw_flag">
				<option value="0" {%if not shop.login_check %}selected{%endif%}>---</option>
				<option value="1" {%if shop.login_check %}selected{%endif%}>{{''|tr:lang}}LogIn</option>
			</select>
	    </td>
	  </tr>
	</table>
  </div>
</form>
{% endblock %}
