{% extends "base.html" %}

{% block contents %}
<form method="POST" id="allshop">

<table border="0" cellpadding="0" cellspacing="1" >
<tr>
	<td width=80 class="listtd1">店舗ID</td>
	<td width=160 class="listtd1">店舗名	</td>
	<td width=120 class="listtd1">店長アカウント</td>
	<td width=350 class="listtd1">住所</td>
</tr>

{% for meisai in items %}
<tr onclick="select_content('{{meisai.shop_id}}')" id="{{meisai.shop_id}}_tr" class="listcontent" >
  <td align="center">{{ meisai.shop_id }}</td>
  <td align="left"  >{{ meisai.kname }}</td>
  <td align="left"  >{{ meisai.admin_id }}</td>
  <td align="left"  >{{ meisai.address1 }}</td>
</tr>
{% endfor %}

<tr><td colspan="15" class="listline" ></td></tr>
</table>

<br><br>

<input type="hidden" name="shop_id" id="shop_id" value="" />
<input type="button" name="change_shop" class="btn_yellow_small" value="店舗番号変更" onclick="change_shopno(check_content)">

</form>
{% endblock %}

{% block body_javascript %}
<script type="text/javascript">
function change_shopno(content){
	if(content==0){
		alert(unselected_content);
		return false;
	}
	//alert(url + "&staff_id=" + content);
	$('#shop_id').val(content);
	$('#allshop').submit();
}
</script>
{% endblock %}
