.touch_product {
	position: relative;
	float: left;
	width: 102px;
	height: 62px;
	font-size:16px;
	text-align: center;
	background-color: #dcdcdc;
	border: 2px solid #ffffff;
	margin: 1px;
	cursor: pointer;
}

.touch_product:hover {
	position: relative;
	float: left;
	text-align: center;
	border: 2px solid #4290ff;
	margin: 1px;
	cursor: pointer;
}


.touch_text{
	display: table-cell;
	vertical-align:middle;
	width: 102px;
	height: 62px;
}

.touch_product_selected {
	border: 2px solid #4290ff;
}

.product_edit {
	text-align: center;
	width: 94px;
	height: 30px;
	overflow: hidden;
	resize: none;
	border: none;
	outline: none;
	background-color: transparent;
}

.category_product {
	cursor: pointer;
	clear: both;
	width: 228px;
	height: 25px;
	line-height: 25px;
	background-color: #f2f1cf;
	padding: 0 0 0 5px;
	margin-bottom: 1px;
}

.category_product:hover {
	cursor: pointer;
	clear: both;
	width: 228px;
	height: 25px;
	line-height: 25px;
	background-color: #c4c05a;
	padding: 0 0 0 5px;
	margin-bottom: 1px;
}

.category_product_selected {
	background-color: #c4c05a;
}

.product_list {
	cursor: pointer;
	clear: both;
	width: 228px;
	line-height: 25px;
	height: 25px;
	background-color: #cfe0f2;
	padding: 0 0 0 5px;
	margin-bottom: 1px;
}

.product_list:hover {
	cursor: pointer;
	clear: both;
	width: 228px;
	height: 25px;
	line-height: 25px;
	background-color: #8daac9;
	padding: 0 0 0 5px;
	margin-bottom: 1px;
}

.product_list_selected {
	background-color: #8daac9;
}

.product_color {
	cursor: pointer;
	float: left;
	width: 45px;
	height: 45px;
	border: solid 1px #ffffff;
	margin-right: 20px;
}

.product_color:hover {
	cursor: pointer;
	float: left;
	width: 45px;
	height: 45px;
	border: solid 1px #000;
	margin-right: 20px;
}

.content_list {
	clear: both;
	float: left;
	position: relative;
}

.buttons {
	clear: both;
	float: left;
}
.buttons input {
	margin: 0px 10px 5px 0px;
}

.insert_column {
	float: left;
	line-height: 25px;
	margin: 3px;
	width: 100px;
}

.insert_column_large {
	float: left;
	line-height: 25px;
	margin: 3px;
	width: 200px;
}

.insert_text {
	float: left;
	text-align: left;
	margin: 3px;
	line-height: 25px;
}

.input_text_ss {
	width: 50px;
}

.input_text_s {
	width: 100px;
}

.input_text_ms {
	width: 150px;
}

.input_text_m {
	width: 200px;
}

.input_text_l {
	width: 300px;
}

.insert_button {
	float: left;
	margin-left: 50px;
	margin-bottom: 10px;
}

.cancel_button {
	float: right;
	margin-right: 50px;
	margin-bottom: 10px;
}

.content_item {
	clear: both;
	float: left;
	width: 100%;
	cursor: pointer;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
}

.content_item_selected {
	clear: both;
	float: left;
	width: 100%;
	cursor: pointer;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
	background-color: #fffc8f;
}

.content_all{
	clear: both;
	float: left;
	width: 100%;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
}

.content_sime{
	width:450px;
	top:-150px;
	left:150px;
	padding:15px;
	position:absolute;
	display:none;
	margin-bottom:100px;
	box-shadow:0px 0px 20px #000000;
	background-color:#ffffff;
	border:1px solid #dcdcdc;
}
.content_item:hover {
	background-color: #dcdcdc;
	border-bottom: solid 1px #b8b8b8;
}

.listTop {
	clear: both;
	float: left;
	width: 100%;
	height: 30px;
	color: #ffffff;
	line-height: 20px;
	background-color: #8c8922;
	border-bottom: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
	font-weight: bold;
}

.listtopcolumn {
	height: 30px;
	line-height: 30px;
	border-left: solid 1px #dcdcdc;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

.touch_hidden {
	display: none;
}

.product_hidden {
	display: none;
}
.stock_hidden {
	display: none;
}

.listcolumn_big {
	border-left: solid 1px #dcdcdc;
	float: left;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

.listcolumn, .listcolumn_even {
	border-left: solid 1px #dcdcdc;
	float: left;
	height: 25px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}

.listcolumn_even {
	border-left: solid 1px #ebe7b7;
}

.title_div {
	clear: both;
	height: 25px;
	line-height: 25px;
	background-color: #d1e8ff;
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

/***********************
***********************/
.listcontent {
	height: 27px;
	border: solid 1px #ffffff;
	cursor:pointer;
}
.listcontent_sum {
	height: 27px;
	border: solid 1px #ffffff;
	cursor:pointer;
	background-color: #efe994;
	font-weight: bold;
}

.listpos {
	height: 25px;
	background-color: #ffffff;
	cursor: pointer;
}

/*
.listend {
	height: 1px;
	background: #00a1eb;
}
*/

.listtable {
	width: 170px;
	height: 260px;
	overflow-y: auto;
	overflow-x: no;
	font-size: 11px;
}

.errorMsg {
	color: red;
	font-size: 12px;
}

.parterror {
	color: red;
	font-size: 12px;
}

td {
    padding: 0px 5px 0px 5px;
}

.listtd1, .listtd2, .listtd3, .listtd4, .listtd5, .white_td {
    /* padding: 0px 5px 0px 5px; */
	height: 27px;
}

.listtd1 {
	background-color: #8c8922;	/* for firefox 3.6+ */
	color: #ffffff;
    text-align: center;
}

.listtd2 {
	background-color: #f5f3d6;
    text-align: center;
}

.listtd3 {
	background-color: #d7d28e;
    text-align: center;
}

.listtd4 {
	background-color: #dbedff;
    text-align: center;
}
.listtd5 {
	background-color: #f5f3d6;
}


.white_td {
	background-color: #ffffff;
}

.money_form, .number_form, .percent_form {
    text-align: right;
}

.listline {
	height: 1px;
	background-color: #8c8922;
}

.holiday {
	color: red;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/static/image/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


