h1 {
	font-size: 20px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	background-image: url("/static/image/bar.gif");
//	background-repeat: repeat-x;
	font-weight: bold;
}

h2 {
	font-size: 17px;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	background-image: url("/static/image/bar.gif");
//	background-repeat: repeat-x;
	font-weight: normal;
}

h3 {
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-weight: bold;
	font-size: 17px;
	color: #813EA0;
}

.lineh1{
	border-left: #006400 8px solid;
	padding: 10px;
	height: 21px;
}
.line{
	border-left: #ff4500 16px solid;
	padding: 10px;
	height: 21px;
}