@charset "utf-8";

/*****************************************************************************
structure
 *****************************************************************************/



a:link, a:visited, a:active {
	text-decoration: none;
}

button{
	text-align:center;
	border: 1px solid #0059b3;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	/*
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));*/		
	color:#ffffff;
	/*
    background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#a3d1ff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbedff),
		to(#a3d1ff));*/		
	color:#000000;
	border-radius:3px;		
}

button:hover{
	/*
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#a3d1ff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbedff),
		to(#a3d1ff));*/		
	color:#000000;
}

input[type=submit], input[type=reset], input[type=button] {
	text-align:center;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
	border-radius:3px;		
}

/*****************************************************************************
class
 *****************************************************************************/
 
 .btpbo{
	width:240px;
	height:110px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #cc5c00;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff9842),
		to(#eb6a00));	
	color:#ffffff;
	border-radius:3px;	
}

.btpmo{
	width:150px;
	height:70px;
	border: 1px solid #cc5c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff9842),
		to(#eb6a00));	
	color:#ffffff;
	border-radius:3px;	
}
 
 .btpmo:hover, .btpbo:hover {
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffd8b8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ffd8b8));		
	color:#000000;
}

.btpmb{
	width:150px;
	height:40px;
	border: 1px solid #0059b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}

.btbo{
	width:140px;
	height:70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #cc5c00;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff9842),
		to(#eb6a00));	
	color:#ffffff;
	border-radius:3px;	
}

.btmo{
	width:130px;
	height:40px;
	border: 1px solid #cc5c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff9842),
		to(#eb6a00));	
	color:#ffffff;
	border-radius:3px;	
}

.btso{
	width:70px;
	height:20px;
	border: 1px solid #cc5c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#ff9842),
		to(#eb6a00));	
	color:#ffffff;
	border-radius:3px;	
}

.btlo{
	width:250px;
	height:40px;
	border: 1px solid #cc5c00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#ff9842 0%,
		#eb6a00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff9842),
		to(#eb6a00));		
	color:#ffffff;
	border-radius:3px;	
}

.btso:hover, .btmo:hover, .btbo:hover , .btlo:hover {
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffd8b8);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#ffd8b8));		
	color:#000000;
}

.btbb{
	width:140px;
	height:70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #0059b3;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}

.btbg{
	width:140px;
	height:70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	border: 1px solid #0059b3;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eaeaea),
		to(#dcdcdc));		
	color:#ababab;
	border-radius:3px;	
}

.btmb{
	width:130px;
	height:40px;
	border: 1px solid #0059b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}

.btsb{
	width:80px;
	height:30px;
	border: 1px solid #0059b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}

.btlb{
	width:250px;
	height:40px;
	border: 1px solid #0059b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}

.btvb{
	width:40px;
	height:100px;
	border: 1px solid #0059b3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));		
	color:#ffffff;
	border-radius:3px;	
}


.btbb:hover , .btmb:hover , .btsb:hover , .btlb:hover , .btpmb:hover{	
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#a3d1ff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbedff),
		to(#a3d1ff));		
	color:#000000;
}


.btlg{
	width:250px;
	height:40px;
	border: 1px solid #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#eaeaea 0%,
		#dcdcdc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eaeaea),
		to(#dcdcdc));		
	color:#ababab;
	border-radius:3px;	
}

.btmg{
	width:130px;
	height:40px;
	border: 1px solid #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#eaeaea 0%,
		#dcdcdc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eaeaea),
		to(#dcdcdc));		
	color:#ababab;
	border-radius:3px;	
}

.btsg{
	width:90px;
	height:30px;
	border: 1px solid #e6e6e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background: -moz-linear-gradient(
		top,
		#eaeaea 0%,
		#dcdcdc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#eaeaea),
		to(#dcdcdc));		
	color:#ababab;
	border-radius:3px;	
}

.btpmg{
	width:147px;
	height:40px;
	font-size:15px;
	font-weight:bold;
	border: 1px solid #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#dcdcdc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		to(#dcdcdc));		
	color:#000000;
	border-radius:3px;	
}

.btpmg:hover{	
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));	
	color:#ffffff;
	border:solid 1px #ffffff;
}

.mainmenu{
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#a3d1ff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dbedff),
		to(#a3d1ff));	
}

.zlayer{
	z-index:10;
	position:absolute;
	left:20px;
	top:55px;
	border:solid 1px #000000;
	background-color:#ffffff;
	width:850px;
	height:350px;
	display:none;
}

.comment_uriage{
	width:265px;
	height:180px;
	word-break:break-all;
	overflow-y:auto;
	overflow-x:hidden;
}

.readonly_text{
	background-color:#eaeaea;
	border:solid 1px #00a1eb;
}

.tw1{
	width:1px;
}
.tw2{
	width:10px;
}
.tw3{
	width:20px;
}
.tw4{
	width:40px;
}

.th1{
	height:1px;
}

.th2{
	height:10px;
}

.th3{
	height:20px;
}
.font-small{
	font-size:12px;
}
.font-mid{
	font-size:15px;
}
.font-big{
	font-size:18px;
}
.fonthugepos{
	background-color:#ffffff;
	font-size:40px;
	font-weight:bold;
	width:60px;
	height:50px;
	text-align:center;
	border:solid 1px #000000;
	cursor:pointer;
}
.fonthugepos2{
	font-size:24px;
	background-color:#ffffff;
	font-weight:bold;
	width:60px;
	height:50px;
	text-align:center;
	border:solid 1px #000000;
	cursor:pointer;
}
.fontbigpos{
	font-size:25px;
}
.fontmidpos{
	font-size:18px;
}
.fontsmallpos{
	font-size:13px;
}
.listincome{
	float:left;
	width:100px;	
	height:25px;
	line-height:25px;
}

.listincomem{
	width:100px;	
	font-size:11px;
	height:25px;
	line-height:25px;
	background-color:#dbedff;
}
.listincomem2{
	width:60px;	
	font-size:11px;
	height:25px;
	line-height:25px;
	text-align:center;
	background-color:#eaeaea;
}
.listincomev{
	width:120px;	
	font-size:11px;
	height:25px;
	line-height:25px;
	text-align:center;
	margin-right:1px;
	margin-bottom:1px;
	background-color:#dbedff;
}
.vline{
	float:left;
	width:1px;
	height:25px;
	background-color:#ffffff;
}
.hline{
	clear:both;
	float:left;
	height:1px;
	background-color:#ffffff;
}


.listtd1{
	height:27px;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#8c8922), to(#8c8922) );
/*
		from(#3cb371), to(#228b22) );
		from(#50A9E7), to(#307CB3) );
*/
	color:#ffffff;
	text-align:center;
}

/*
.listtd1{
	height:27px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#50A9E7), to(#307CB3) );
	color:#ffffff;
	text-align:center;
}
*/
.listtd2{
	height:27px;
    background-color:#dbedff;
	/*background-color:#f0ffff;*/
}

.listtd3{
	height:27px;
	/*background-color:#87cefa;*/
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#87cefa), to(#00bfff) );
}
.listtd4{
	background-color:#dbedff;
	height:35px;
	font-size:24px;
	cursor:pointer;
}
.menutr{
	background-color:#dbedff;
	width:550px;
	height:30px;
	font-size:20px;
	line-height:30px;
	text-weight:bold;
}

/* class.css
.listcontent{
	height:27px;
	border:solid 1px #ffffff;
	cursor:pointer;
}
.listpos{
	height:25px;
	background-color:#ffffff;
	cursor:pointer;
}
.listend{
	height:1px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#00a1eb),
		to(#008ccc));
	color:#ffffff;
	text-align:center;
}
.listtable{
	width:170px;
	height:260px;
	overflow-y:auto;
	overflow-x:no;
	font-size: 11px;	
}
*/
.errorMsg{
	color:red;
	font-size: 12px;
}
.parterror{
	color:red;
	font-size: 12px;
}
.links{
	cursor:pointer;	
}
.links:hover{
	text-decoration:underline;	
}
.select1{
	 width:150px;
	 font-size:12px;
	 background-color:#ffffff;
	 color:#5F5F5F;
	 cursor:pointer;
	 border:1px solid #C0C4CB;
	 padding:3px 3px 3px 3px;
}
.select2{
	 width:70px;
	 font-size:12px;
	 background-color:#ffffff;
	 color:#5F5F5F;
	 cursor:pointer;
	 padding:0 0 0 7px;
	 border:1px solid #C0C4CB;
	 padding:3px 3px;
}
.validate{
	border:solid 1px #00a1eb;
}

.validate:focus{
	border:solid 1px #ff9842;
}

.maintable{
	background-color:#00a1eb;
}

.pos_tr{
	border:1px solid #ffffff;
	cursor:pointer;
}
.pos_tr:hover{
	border:1px solid #00a1eb;
}
.daily_list{
	padding:5px;
	line-height:15px;
	float:left;
	height:15px;
	font-size:13px;
	width:110px;
	text-align:left;
	margin:1px;
}
.daliy_list2{
	margin:1px;
	padding:0 20px 0 20px;
	float:left;
}
.daily_form{
	width:80px;
	
}
.presetup{
	width:600px;
	display:none;
}

.graph{
	width:1200px;
	display:none;
}

.listgaro li{
	display:inline;
}
.errordiv{
	color:red;
}
.staff_list1{
	width:150px;
	float:left;
	line-height:25px;
	margin-top:1px;
	cursor:pointer;
}

.staff_list2{
	width:230px;
	float:left;
	line-height:25px;
	margin-top:1px;
	cursor:pointer;
}

.money_form{
	text-align:right;
}

.percent_form{
	text-align:right;
}

/*****************************************************************************
id
 *****************************************************************************/
#contents{
	margin-left: auto;
	margin-right: auto;	
}
#customer_multi{
	height:180px;
}

#ajax_loading_img{
	display:none;
	position:absolute;
	z-index:100;
}
#ajax_loading_img3{
	position:absolute;
	z-index:100;
}
#stafflist_ajax{
	position:absolute;
	z-index:10;
	top: -150px;
	left:70px;
	width:850px;
	display:none;
	height:450px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 5px;
}
#pos_ajax{
	position:absolute;
	z-index:10;
	top: 35px;
	left:0px;
	width:1050px;
	display:none;
	height:500px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 5px;	
}

#pos_ajax2{
	position:absolute;
	z-index:10;
	top: 70px;
	left:175px;
	width:650px;
	display:none;
	height:250px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 5px;	
}

#pos_ajax3{
	position:absolute;
	z-index:10;
	top: 70px;
	left:175px;
	width:650px;
	display:none;
	height:250px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 5px;	
}

#pos_ajax4{
	position:absolute;
	z-index:10;
	top: 70px;
	left:50px;
	width:850px;
	display:none;
	height:450px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));
	-webkit-box-shadow:rgb(110,110,110) 5px 5px 5px;	
}
#show_ajax{
	position:absolute;
	z-index:10;
	top:-55px;
	left:30px;
	opacity:0; /* other browser */
	filter:alpha(opacity=0); /* ie only */
	
	border:solid 1px #696969;
	width:545px;
	height:355px;
	color:#000000;
	border-radius:3px;		
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#eaeaea);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#dcdcdc),
		to(#ffffff));	
		
}

#clockdiv{
	font-size:40px;
} 
/*****************************************************************************
id
 *****************************************************************************/
#mcs_container{position:relative;  width:170px; height:270px;}
#mcs_container .customScrollBox{position:relative; height:100%; overflow:hidden;}
#mcs_container .customScrollBox .container{position:relative; width:150px; top:0; float:left;}
#mcs_container .customScrollBox .content{clear:both;}
#mcs_container .dragger_container{position:relative; width:3px; height:250px; float:left; margin:10px 0 0 10px; background:#000; cursor:pointer -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; cursor:s-resize;}
#mcs_container .dragger{position:absolute; width:3px; height:50px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; cursor:pointer; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#mcs_container .dragger_pressed{position:absolute; width:5px; margin-left:-1px; height:50px; background:#999; text-align:center; line-height:60px; color:#666; overflow:hidden; -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:s-resize;}


@media print 
{
    .graph {display:block;}
}
