{% extends "base.html" %}

{% block contents %}
<form method="POST">
<table>
<tr>
	<td width=70  class="listtd1">{{'company'|tr:lang}}ID</td>
	<td width=250 class="listtd1">{{'company'|tr:lang}}{{'name'|tr:lang}}</td>
	<td width=150 class="listtd1">HQ{{''|tr:lang}} Admin ID</td>
	<td width=50  class="listtd1">Shop Count</td>
	<td width=130 class="listtd1">TEL No.</td>
	<td width=300 class="listtd1">{{'address'|tr:lang}}</td>
	<td width=100 class="listtd1">{{''|tr:lang}}代理店</td>
</tr>

{% for meisai in items %}
<tr onclick="select_content('{{meisai.company_id}}')" id="{{meisai.company_id}}_tr" class="listcontent" >
  <td align="center">{{meisai.company_id}}</td>
  <td align="left">  {{meisai.kname}}</td>
  <td align="left">  {{meisai.admin_id}}</td>
  <td align="center">{{meisai.lastno_shop}}</td>
  <td align="left">  {{meisai.telno}}</td>
  <td align="left">  {{meisai.address1}}</td>
  <td align="left">
    {%if not meisai.agency_no %}JoinWare{%endif%}
    {%if meisai.agency_no == 1 %}GraSoo{%endif%}
    {%if meisai.agency_no == 2 %}BoB{%endif%}
  </td>
</tr>
{% endfor %}

<tr><td colspan="7" class="listline" ></td></tr>
</table>

<br><br>

<div>
	<input type="button" value="{{''|tr:lang}}店舗リスト" onclick="editcontent('/sysadmin/shoplist?company_id=',check_content)"  class="btn_yellow_small">
	<input type="button" value="管理者リスト" onclick="editcontent('/sysadmin/shopuser?company_id=',check_content)"  class="btn_yellow_small">
	<input type="button" value="{{'btn_new'|tr:lang}}"    onClick="location.href='/sysadmin/newcompany'" class="btn_orange_small">
	<input type="button" value="{{'btn_update'|tr:lang}}"    onclick="editcontent('/sysadmin/newcompany?company_id=',check_content)" class="btn_orange_small">
<!--
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" value="{{'company'|tr:lang}}{{'btn_delete'|tr:lang}}" onclick="editcontent('/sysadmin/delete_shop?company_id=',check_content)" class="btn_orange_small">
-->
</div>
</form>
{% endblock %}
