{% extends "base.html" %}

{% block contents %}
<form method="POST" id="common">
<input type="hidden" name="hidden_admin_id" id="hidden_admin_id" value="{{ item.admin_id }}" />
<input type="hidden" name="kubun"      id="kubun"      value="{{ kubun }}" />
<br>

<table>
<tr>
  <td style="width:150px;" class="listtd1" height="25">会社番号</td>
  <td style="width:550px;"  class="listtd2">
  {%if item.company_id %}
  		{{item.company_id}}
	<input type="hidden" name="company_id" id="company_id" value="{{ item.company_id }}" />
  {%else%}
    <input type="text" name="company_id" id="company_id" class="validate required" size="7" maxlength="6"
           value="{{item.company_id|default:''}}"/>
  {%endif%}
  </td>
</tr>
<tr>
  <td class="listtd1">会社名</td>
  <td class="listtd2">
    <input type="text" name="kname" id="kname" class="validate required" size="41" maxlength="40"
           value="{{item.kname|default:''}}"/>
    <div class="errordiv" id="kname_error"></div>
  </td>
</tr>
<tr>
  <td class="listtd1">本部ID</td>
  <td class="listtd2">
    <input type="text" name="admin_id" id="admin_id" class="validate R_mailid" size="31" maxlength="30"
           value="{{item.admin_id|default:''}}"/>@gmail.com
  </td>
</tr>
	  <tr>
	    <td class="listtd1">郵便番号</td>
	    <td class="listtd2">
	    	<input type="text" name="zipcode" id="zipcode" class="input_text_s"  maxlength="8"  value="{{item.zipcode|default:''}}"/>
	    </td>
	  </tr>
<tr>
  <td class="listtd1">住所１</td>
  <td class="listtd2">
    <input type="text" name="address1" id="address1" class="validate required" size="41" maxlength="40"
           value="{{item.address1|default:''}}"/>
  </td>
</tr>
<tr>
  <td class="listtd1">住所２</td>
  <td class="listtd2">
    <input type="text" name="address2" id="address2" size="41" maxlength="40"
           value="{{item.address2|default:''}}"/>
  </td>
</tr>
<tr>
  <td class="listtd1">電話番号</td>
  <td class="listtd2">
    <input type="text" name="telno" id="telno" class="validate R_telno" size="15" maxlength="14"
           value="{{item.telno|default:''}}"/>
  </td>
</tr>
<tr>
  <td class="listtd1">代理店区分</td>
  <td class="listtd2">
	<select name="agency_no" id="agency_no">
	    <option value="0" {%if not item.agency_no  %} selected {%endif%}>JoinWare直販</option>
	    <option value="1" {%if item.agency_no == 1 %} selected {%endif%}>GraSoo</option>
	    <option value="2" {%if item.agency_no == 2 %} selected {%endif%}>BoB</option>
    </select>
  </td>
</tr>
</table>

<span id="errorMessage" style="color:#f00;"></span>
<br><br>

<div>
	<input type="submit" class="btn_orange_small" value="確定">
</div>

</form>
{% endblock %}

{% block body_javascript %}

<script type="text/javascript">
$('.listtd2').css('text-align', 'left');

$("input#company_id").blur( function () {
	if($(this).next().text() !== "") $(this).next().remove();
	if ($(this).val().length < 6) {
		$("input#company_id").after("<div class='errorMsg'>会社番号は６桁にして下さい。</div>");
		return;
	}
	jQuery.ajax({
		url : "/ajax/check",
		type : "get",
		data : {table:"company", id:$("input#company_id").val()},
		success : function(data){
			if (data == 0) {
				if($("input#company_id").next().text() !== "") $("input#company_id").next().remove();
				return;
			}
			if($("input#company_id").next().text() === ""){
				$("input#company_id").after("<div class='errorMsg'>既に登録されたIDです。</div>");
			}
		},
		error : function(){
			if($("input#company_id").next().text() === ""){
				$("input#company_id").after("<div class='errorMsg'>サーバにエラーがあります。</div>");
			}
		}
	});
});

$("input#admin_id").blur( function () {
	if ($(this).val() == "") {
		if($(this).next().text() !== "") $(this).next().remove();
		return;
	}
	if ($("input#hidden_admin_id").val() == $(this).val()) {
		if($("input#admin_id").next().text() !== "") $("input#admin_id").next().remove();
		return;
	}
	jQuery.ajax({
		url : "/ajax/check",
		type : "get",
		data : {table:"shopuser", id:$("input#admin_id").val()},
		success : function(data){
			if (data == 0) {
				if($("input#admin_id").next().text() !== "") $("input#admin_id").next().remove();
				return;
			}
			if($("input#admin_id").next().text() === ""){
				$("input#admin_id").after("<div class='errorMsg'>既に登録されたIDです。</div>");
			}
		},
		error : function(){
			if($("input#admin_id").next().text() === ""){
				$("input#admin_id").after("<div class='errorMsg'>サーバにエラーがあります。</div>");
			}
		}
	});
});
</script>
{% endblock %}
