{% extends "base.html" %}

{% block contents %}
<form method="POST" id="common">
<input type="hidden" name="shop_id" id="shop_id" value="{{ shop_id }}" />

<input type="submit" name="delete_shop" class="btn_red_small"    value="店舗データの全体削除" style="width:200px;">
</form>
{% endblock %}
