{% extends "base.html" %}


{% block contents %}
<style type="text/css">
.cal_head{
	height: 30px;
	width: 110px;
	background: -moz-linear-gradient(
		top,
		#00a1eb 0%,
		#008ccc);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#00a1eb),
		to(#008ccc));
	color:#ffffff;
	text-align:center;
	font-weight: bold;
}

.cal_hol {
	height: 70px;
	background-color: #ffd1d1;
}

.cal_sat {
	height: 70px;
	background-color: #e8ffd1;
}

.cal_td {
	height: 70px;
	background-color: #dbedff;
}

</style>


<form method="POST" name="calendar_form">
<input type="hidden" name="targetDate"  id="targetDate"  value="{{start_date}}" />
<input type="hidden" name="shop_id"     id="shop_id"     value="{{shop_id}}">
<input type="hidden" name="holiday_day" id="holiday_day" value="">

<table>
	<tr>
	    <th>
		    <input type="submit" name="preMonth"  value="前月&lt&lt" class="btn_blue_verysmall">
	    </th>
	    <th colspan="5">
	      <font size="+2">{{start_date|slice:":4"}}年{{start_date|slice:"4:6"}}月</font>
	    </th>
	    <th>
	        <input type="submit" name="nextMonth" value="&gt&gt次月" class="btn_blue_verysmall">
	    </th>
	</tr>
	<tr>
	    <td class="cal_head">日</td>
	    <td class="cal_head">月</td>
	    <td class="cal_head">火</td>
	    <td class="cal_head">水</td>
	    <td class="cal_head">木</td>
	    <td class="cal_head">金</td>
	    <td class="cal_head">土</td>
	</tr>

  {% for weekdays in monthdata %}
	<tr style="height:70px;">
	  {% for item in weekdays %}
		{% if forloop.counter == 1 %}
			<td class="cal_hol">
		{% else %}
			{% if forloop.counter == 7 %}
			<td class="cal_sat">
			{% else %}
				<td class="cal_td">
			{% endif %}
		{% endif %}

		{% if item.0 == 0 %}
		    &nbsp;
		{% else %}
		    <strong>
		    	<a href="#" onClick="update_dayinfo({{item.0}});">{{item.0}}</a>
		    </strong><br>
			{% if item.1 %}
			    <p style="color:red;">休日</p>
		    {% endif %}

		    <br><br>
		{% endif %}
		</td>
	  {% endfor %}
	</tr>
  {% endfor %}
</table>


</form>


<script type="text/javascript">
function update_dayinfo(day){
	$("#holiday_day").val(day);
	document.calendar_form.submit();
}

</script>
{% endblock %}
