{% extends "base.html" %}

{% block contents %}
<form>

TIP<br>
<!-- MySQLから取得することになったので、廃止
1. レシート強制削除<br>
http://ajax/manual_delete_receipt?shop_id=99999901&receipt_no=1306080017&delete_only=1<br>
<br><br>
-->
■ Receipt가 일별, 월별 매상에도 등록이 안되었을때<br>
/ajax/uriage_expand_basic?shop_id=xxxx&receipt_no=xxxxx<br>

<br><br>

■ Receipt가 일별, 월별 매상에도 등록이 안되었을때(점포코드 + 일자)<br>
/ajax/uriage_expand_basic?shop_id=99000102&target_date=20170217<br>

<br><br>

<!-- MySQLから取得することになったので、廃止
2. Receipt가 일별, 월별  등록후에  제품별 매상자료(ABC)가 등록 안되었을때<br>
ajax/uriage_expand?shop_id=xxxx&receipt_no=xxxxx<br>
<br><br>

3. Receipt 제품별 매상자료(ABC)를 클리어하고 싶을때.... 특히, 1일일때<br>
ajax/uriage_day_clear?shopid=13000301&clear=month<br>
<br><br>

4. Receipt 제품별 매상자료(ABC)를 클리어,<br>
1) 월, 일 모두 클리어<br>
    http://ajax/uriage_expand_manual?shopid=14000103&month=5&clear=month<br>
2) 날짜별 재구축<br>
    http://ajax/uriage_expand_manual?shopid=14000103&servicedate=201XMMDD<br>
<br><br>
-->

■ Receipt를 강제로 삭제하고 싶을때<br>
   店舗番号の指定をしないので、該当店舗にログインしてから実行すること。
　　但し、当日ではない過去のデータを削除する場合は、MySQLデータも手動削除すること。<br>
/sysadmin/uriage_delete_for_maintnance?receiptNo=<br>

<br><br>

■ Receiptを日別売り上げのみに登録したい場合（削除されたデータの復元）<br>
/ajax/uriage_expand_only_dailyuriage?shop_id=xxxx&ym=xxxxx<br>

<br><br>

■ TouchMenu 10個追加（３１～４０）<br>
/setup/touchexpand<br>

<br><br>

■ TouchMenu 初期化　（部門と商品データで自動作成）<br>
/master/touch_default<br>

<br><br>

■ CourseMenu 10個追加（２１～３０） ※その店舗のみ<br>
setup/coursemenuadd<br>

<br><br>

■ 店舗間のマスターデータのコピー<br>
/sysadmin/copymaster?from_shop=13000205&to_shop=13002002<br>
　　※商品以外のマスター<br>
/sysadmin/copymaster?from_shop=13000205&to_shop=13002002&product=1<br>
　　※商品マスター<br>
/sysadmin/copymaster?from_shop=13000205&to_shop=13002002&product=1&section=29<br>
　　※部門別商品マスター<br>

<br><br>

■ 店舗データの初期化（マスター＆ヒストリ削除）<br>
/sysadmin/clear<br>


</form>
{% endblock %}
