<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head >

<title>{{title|default:''}} | POSレジ OES オーダーエントリ 飲食店 クラウド</title>
<meta name="keywords" content="{{title|default:''}},POSレジ,OES,オーダーエントリ,飲食店,クラウド">
<meta name="description" content="{{control|default:''}} {{title|default:''}} JoinPOSは１人店舗から大規模のチェーン店まで管理可能な飲食店様向けシステムです。">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
<script type="text/javascript" src="/static/js/hoverIntent.js"></script>
<script type="text/javascript" src="/static/js/superfish.js"></script>
<script type="text/javascript" src="/static/js/event.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>

{%if lang == "zh" %}
<script type="text/javascript" src="/static/js/string_zh.js"></script>
{%else%}
<script type="text/javascript" src="/static/js/string.js"></script>
{%endif%}


<link type="text/css" media="screen" rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.23.custom.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/superfish.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/object.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/button.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/class.css">
<link type="text/css" media="screen" rel="stylesheet" href="/static/css/table.css">

{% block head_javascript %}
{% endblock %}
</head>

<body>

<div id="top">
	<div id="logoImage"><a href="/"><img src="/static/image/joinposlog.png" alt="" height=40/></a></div>
	<div id="location">{% if control %}{{control}}&nbsp;&gt;&nbsp;{% endif %}{{title}}</div>
	<div id="username">{{loginData.shop_user.email_id}}</div>
</div>

<div id="mainMenu">
	<div id="container">
		<ul class="sf-menu">
		  {%if loginData%}
			<li style="float:right;">
				<a href="{{ loginData.url }}">Logout</a>
			</li>
		  {%else%}
			<li style="float:right;">
				<a href="{{ loginUrl }}">Login</a>
			</li>
		  {%endif%}
		</ul>
	</div>
</div><!-- "mainMenu" -->


<form id="searchform" method="post">
<div id="search_cond">
<table width=100% height=40px>
<tr><td align="right">
{%if asp_flag.0 > 0%}
	{{'lang_sel'|tr:lang}}
	<select name="lang_sel" id="lang_sel" onchange="submit(this.form)">
		<option value="jp" {%if lang == "jp" %}selected{%endif%}>{{'jp'|tr:lang}}</option>
		<option value="zh" {%if lang == "zh" %}selected{%endif%}>{{'zh'|tr:lang}}</option>
		<option value="kr" {%if lang == "kr" %}selected{%endif%}>{{'kr'|tr:lang}}</option>
	</select>
{%endif%}

</td></tr>
</table>
</div><!-- "search_cond" -->
</form>


<div id="contents" align="left">
	{% block contents %}
	{% endblock %}

	{% block pagination %}
	{% endblock %}
</div>

<script type="text/javascript">
	$(function(){
	   $('ul.sf-menu').superfish();
	});
</script>

{% block body_javascript %}
{% endblock %}

<br><br><br><br>
<!--
<p style="font-size: 12px;text-align: right;">本システムは Google Chrome に最適化されています。</p>
-->
<div id="tail" align="center">
<a href="http://www.joinsw.com" target="_blank">JoinPOS by www.joinsw.com</a>
</div>

</body>
</html>
