{% extends "base.html" %}

{% block menu %}
   <span class="menu">.....</span> 
{% endblock %}


{% block contents %}
	{% if error %}
     <p class="errorMsg">エラー内容　：　{{error}}</p><br><br>
	{% endif %}
     <p class="errorMsg">システム管理者に連絡して下さい。</p>
{% endblock %}
