{% extends "base.html" %}

{% block contents %}
<div id="contents" align="center">
<br><br>
<br><br>

<table border="0" cellpadding="0" cellspacing="0" >


	<tr>
	  <td align="center">
   			<button type="button"  onclick="location.href='/report/list_day'" class="btn_blue_small" style="font-size:25px;font-weight:bold;width:160px;height:100px;">
			温度管理</button>
	  </td>
	  <td align="center" style="padding:0 0 0 20px;" >
			<button type="button" class="btn_small_unuse" style="font-size:25px;font-weight:bold;width:160px;height:100px;"></button>
	  </td>
	  <td align="center" style="padding:0 0 0 20px;">
			<button type="button" class="btn_small_unuse" style="font-size:25px;font-weight:bold;width:160px;height:100px;"></button>
	  </td>
	</tr>

	<tr>
	  <td align="center" style="padding:20px 0 0 0;">
			<button type="button" class="btn_small_unuse" style="font-size:25px;font-weight:bold;width:160px;height:100px;"></button>
	  </td>
	  <td align="center" style="padding:20px 0 0 20px;">
			<button type="button" class="btn_small_unuse" style="font-size:25px;font-weight:bold;width:160px;height:100px;"></button>
	  </td>
	  <td align="center" style="padding:20px 0 0 20px;">
			<button type="button" class="btn_small_unuse" style="font-size:25px;font-weight:bold;width:160px;height:100px;"></button>
	  </td>
	</tr>
</table>
<br>
<font size="+2" color="red">
{% if loginData and loginData.shop_info  and loginData.shop_info.regi_version < "3.8.4" %}
<br>
{% endif %}
<br>

{%if loginData and not loginData.shop_info %}
{{loginData.user}}様<br>
貴方はJoinPOSに登録されてないユーザです。
{% endif %}
<br>
<br>

</div><!-- content -->


<script type="text/javascript">
<!--
    $( "#message_btn" ).click(function () {
        $("#shop_message").css('display', 'block');
        $("#message_btn").css('display', 'none');
    });

//-->
</script>

{% endblock %}


