{% extends "base.html" %}

{% block menu %}
   <span class="menu">.....</span> 
{% endblock %}


{% block contents %}
<br />
<p class="errorMsg">JoinPOSは飲食店様向けのオールインワン・システムです。<br><br>
 貴方のIDはシステムに登録されていないので、システム管理者に連絡して下さい。
</p>
<br /><br />
<div style="clear:both;float:left;">
	<button type="button"  onclick="location.href='/intro/'" class="btn_blue_small" style="font-size:16px;width:180px;height:50px;">
	システム説明
	</button>
	<button type="button"  onclick="location.href='/intro/qna'" class="btn_blue_small" style="font-size:16px;width:180px;height:50px;">
	問い合わせ
	</button>
	<button type="button"  onclick="location.href='http://www.joinsw.com'" class="btn_yellow_small" style="font-size:16px;width:200px;height:50px;">
	株式会社 JOINWARE
	</button>
</div>
<!-- 
JoinPOSの説明： <a href="http://joinpos.appspot.com/intro/">飲食店向けのオールインワン・システム JoinPOS</a>
<br /><br />
問い合わせ： <a href="http://www.joinsw.com">株式会社 JOINWARE</a>
 -->
<br /><br />

{% endblock %}
